<h1 style="color:red">Warning!</h1>
Before you start, click *Run All* to run all cells to load all images and databases!

<h1 style="text-align:center">How to predict EPL matches?</h1>
## Introduction
Using the Machine Learning Studio by Microsoft Azure as a platform, a model has been developed to predict incoming Premier League football matches. This model mainly uses the relative strengths between teams and calculates the goal expectancies of each respective team to predict whether a match would end in a home win, away win or a draw.
<p style="text-align:center">Final Training Experiment Model</p>
<img src="Images/15.png">
<p style="text-align:center">Final Predictive Experiment Model for Deployment</p>
<img src="Images/24.png">
This is what the entire machine learning model looks like in ML Studio.

Before we begin, there are some Python commands that should be done to allow datasets to be imported into the notebook.

In [21]:
! pip install azureml

Requirement already satisfied: azureml in c:\programdata\anaconda3\lib\site-packages
Requirement already satisfied: python-dateutil in c:\programdata\anaconda3\lib\site-packages (from azureml)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from azureml)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from azureml)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil->azureml)
Requirement already satisfied: pytz>=2011k in c:\programdata\anaconda3\lib\site-packages (from pandas->azureml)
Requirement already satisfied: numpy>=1.7.0 in c:\programdata\anaconda3\lib\site-packages (from pandas->azureml)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->azureml)
Requirement already satisfied: idna<2.7,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->azureml)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->azureml)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->azureml)

In [22]:
from azureml import Workspace
ws = Workspace(
    workspace_id='7e1feaf041054f63b5762612da9f1512',
    authorization_token='gdvfynMyL70Uof8X8eJvITPiYVJppsqrEnfEzK4r+yaY7nLz6exwWlOtLfBeFXBtdzc78n+r24t7mZ4EpW5jkA==',
    endpoint='https://studioapi.azureml.net'
)
experiment = ws.experiments['7e1feaf041054f63b5762612da9f1512.f-id.9f26deeb1125455abce681f98209c277']

## Data Import
Several types of data has been imported to provide information for the model. First of all, information of matches from the 2005/2006 to 2016/2017 seasons (only involving current PL teams) have been provided by UCL under the filename epl-training.csv. 

To import the dataset into Azure ML Studio, simply follow these instructions:
-  Click +New  ->  Dataset  ->  From local file  ->  Select your dataset

#### Match info from 2017/2018

However, this information is incomplete as there is a lack of information on teams like Huddersfield and Brighton, both which have just been recently promoted to the Premier League this season. Therefore, additional data (recent matches from the 2017/2018 season) has to be retrieved from football-data [1] to provide a more accurate predictive model for the current PL teams. This dataset is saved under **E0(2).csv** in the Datasets folder, and to import it, follow the procedure above.

#### FIFA team ratings

To further improve the accuracy of the model, FIFA ratings are collected from FIFA Index [2] for the current PL teams. Each team is assigned an Attacking (ATT), Midfield (MID), Defense (DEF) and Overall (OVR) stat. These ratings range from the 2005/2006 to the 2017/2018 seasons and provides a good indicator for the relative strengths of those teams at the time. 

To obtain this information, a Python script is developed to scrape FIFA ratings from the FIFA Index website. In the Scripts folder, open the 'fifaratings.py' file in a text editor. You will then see the code below:
```python
import requests
import sys
import re
import csv

def fifaratings() :
    yearparam=['06_2', '07_3', '08_4', '09_5', '10_6', '11_7', '12_9','13_10', '14_13', '15_14', '16_73', '17_173']
    #yearparam are parameters used by the website below
    url = 'https://www.fifaindex.com/teams/FIRST?league=13'
    #Credits to FifaIndex for providing FIFA ratings of EPL teams from 2005-present
    myFile = open('fifaratings.csv', 'wb')
    year = 2005
    
    with myFile:
        writer = csv.writer(myFile)
        firstrow = ['Team','Season','ATT', 'MID', 'DEF', 'OVR']
        writer.writerow(firstrow)
        for i in range(len(yearparam)):
            new_url = url.replace('FIRST', 'fifa'+ yearparam[i] + '/')
            req = requests.get(new_url)
            raw = req.content
            reg = r'alt="([\s\w]+)"'
            clubNames = re.findall(reg, str(raw))
            #print(clubNames)
            #returns all club names

            reg = r'<td data-title="ATT"><span class="label rating r[1|2|3|4]">(\d+)'
            offenseScores = re.findall(reg, str(raw))
            #print(offenseScores)
            #returns all offenseScores

            reg = r'<td data-title="MID"><span class="label rating r[1|2|3|4]">(\d+)'
            midfieldScores = re.findall(reg, str(raw))
            #print(midfieldScores)
            #returns all midfieldScores

            reg = r'<td data-title="DEF"><span class="label rating r[1|2|3|4]">(\d+)'
            defenseScores = re.findall(reg, str(raw))
            #print(defenseScores)
            #returns all defenseScores

            reg = r'<td data-title="OVR"><span class="label rating r[1|2|3|4]">(\d+)'
            overallScores = re.findall(reg, str(raw))
            #print(overallScores)
            #returns all overallScores
            if(yearparam[i] == '12_9'):#Arsenal scores from 2012 was classified under Pro League
                clubNames.append('Arsenal')
                offenseScores.append('84')
                midfieldScores.append('80')
                defenseScores.append('81')
                overallScores.append('81')
                #print(offenseScores)
            if(yearparam[i] == '13_10'): #Southampton scores for 2012-2013 for some reason was classified under MLS(Major League Soccer)
                clubNames.append('Southampton')
                offenseScores.append('73')
                midfieldScores.append('74')
                defenseScores.append('71')
                overallScores.append('73')
            for j in range(len(clubNames)):
                data = [clubNames[j], str(year) + '/' + str(year+1), int(offenseScores[j]), int(midfieldScores[j]), int(defenseScores[j]), int(overallScores[j])]
                # converts the data to numeric form
                writer.writerow(data)
                #writes the rows in the csv file
            year = year + 1
        #for fifa 18
        new_url = url.replace('FIRST', '')
        req = requests.get(new_url)
        raw = req.content
        reg = r'alt="([\s\w]+)"'
        clubNames = re.findall(reg, str(raw))
        #print(clubNames)
        #returns all club names

        reg = r'<td data-title="ATT"><span class="label rating r[1|2|3|4]">(\d+)'
        offenseScores = re.findall(reg, str(raw))
        #print(offenseScores)

        reg = r'<td data-title="MID"><span class="label rating r[1|2|3|4]">(\d+)'
        midfieldScores = re.findall(reg, str(raw))
        #print(midfieldScores)

        reg = r'<td data-title="DEF"><span class="label rating r[1|2|3|4]">(\d+)'
        defenseScores = re.findall(reg, str(raw))
        #print(defenseScores)

        reg = r'<td data-title="OVR"><span class="label rating r[1|2|3|4]">(\d+)'
        overallScores = re.findall(reg, str(raw))
        #print(overallScores)

        for j in range(len(clubNames)):
            data = [clubNames[j], str(year) + '/' + str(year+1), int(offenseScores[j]), int(midfieldScores[j]), int(defenseScores[j]), int(overallScores[j])]
            writer.writerow(data)
        ##print(raw)
    print ("DONE")

fifaratings()
```
To obtain the FIFA ratings, by using the terminal(Mac) or cmd(Windows), navigate to the directory with the script and type *fifaratings.py*. This would produce a csv file called *fifaratings.csv* with all the clubs' FIFA team ratings. This is then imported into ML Studio via the Upload Dataset from Local File option.

Alternatively, you can directly import the fifaratings.csv dataset in the Datasets folder attached with this notebook into the ML Studio.

#### Distance travelled by away teams

Not only that, information of distances between the stadiums are also included. This is due to the assumption that teams who travel further for their away matches might perform worse. Therefore, a Python script is used to obtain the distances from Sport Map World [3] and convert them into a csv file. Open 'clubscript.py' in a text editor to view the code below:

```python
import requests
import sys
import re
import csv

def clubscript() :

    clubparam=['arsenal', 'bournemouth', 'brighton-hove-albion', 'burnley', 'chelsea', 'crystal-palace', 'everton', 'huddersfield-town','leicester-city', 'liverpool', 'manchester-city', 'manchester-united', 'newcastle-united', 'southampton', 'stoke-city', 'swansea-city', 'tottenham-hotspur', 'watford', 'west-bromwich-albion', 'west-ham-united']
    clubs=['Arsenal', 'Bournemouth', 'Brighton', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Huddersfield', 'Leicester', 'Liverpool', 'Man City', 'Man United', 'Newcastle', 'Southampton', 'Stoke', 'Swansea', 'Tottenham', 'Watford', 'West Brom', 'West Ham']
    #Clubparam are parameters used by the website below
    url = 'http://www.sportmapworld.com/distance/FIRST/SECOND/'
    #Credits to sportmapworld for providing distances between stadiums
    myFile = open('clubdistance.csv', 'wb')
    with myFile:
        writer = csv.writer(myFile)
        firstrow = ['Home','Away','Distance']
        writer.writerow(firstrow)
        for i in range(len(clubs)):
            for j in range(len(clubs)):
                if (i == j):
                    continue
                new_url = url.replace('FIRST', clubparam[i]).replace('SECOND', clubparam[j])
                #print(new_url)
                req = requests.get(new_url)
                raw = req.content
                reg = r'\((\d+ kilometres)\)'
                #Requesting HTML page and finding regex that returns %%%% kilometres
                distances = re.findall(reg, str(raw))
                #Deleting the last 11 letter from the string (15 kilometres => 15)
                distance = distances[0][:-11]
                data = [clubs[i], clubs[j], distance]
                writer.writerow(data)
                #print int(distance)
    print ("DONE")

clubscript()

```
Similarly, by using the terminal, navigate to the directory with this script and type *clubscript.py* to produce a dataset named named 'clubdistance.csv'. Alternatively, you can import the already provided 'clubdistance.csv' dataset in the Datasets folder into the experiment.

#### Market Value of teams
Finally, the market value of PL teams from the 2005/2006 to 2017/2018 seasons are obtained from transfermarkt [4]. A Python script is used to obtain this information and place them in a csv file called "clubValue.csv". This dataset then can be imported into the experiment.

```python
import requests
import sys
import re
import csv
import time

def clubValue() :
    #various parameters and ids that were used by transfermarkt for each club
    clubId = ['11', '989', '1237', '1132', '631', '873', '29', '1110', '1003', '31', '281', '985', '762', '180', '512', '2288', '148', '1010', '984', '379']
    clubparam=['arsenal-fc', 'afc-bournemouth', 'brighton-amp-hove-albion', 'burnley-fc', 'chelsea-fc', 'crystal-palace', 'everton-fc', 'huddersfield-town','leicester-city', 'liverpool-fc', 'manchester-city', 'manchester-united', 'newcastle-united', 'southampton-fc', 'stoke-city', 'swansea-city', 'tottenham-hotspur', 'watford-fc', 'west-bromwich-albion', 'west-ham-united']
    clubs=['Arsenal', 'Bournemouth', 'Brighton', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Huddersfield', 'Leicester', 'Liverpool', 'Man City', 'Man United', 'Newcastle', 'Southampton', 'Stoke', 'Swansea', 'Tottenham', 'Watford', 'West Brom', 'West Ham']
    url = 'https://www.transfermarkt.co.uk/CLUBPARAM/kader/verein/CLUBID/plus/0/galerie/0?saison_id=YEAR'
    #credits to transfermarkt for the detailed information of market values of each respective teams
    myFile = open('clubValues.csv', 'wb')
    startingYear = 2005
    currentYear = 2018
    #Transermarkt did not allow python 'user-agent', thus had to use a 'Google Chrome' user-agent for headers
    headers={
        'User-Agent': 'Mozilla/5.0 (Windows; U; Windows NT 6.0; en-US) AppleWebKit/525.13 (KHTML, like Gecko) Chrome/0.2.149.27 Safari/525.13',
    }
    with myFile:
        writer = csv.writer(myFile)
        firstrow = ['Team','Season','Market Value']
        writer.writerow(firstrow)
        for year in range(startingYear, currentYear):
            for j in range(len(clubparam)):
                new_url = url.replace('CLUBPARAM', clubparam[j]).replace('CLUBID', clubId[j]).replace('YEAR', str(year))
                #print(new_url)
                req = requests.get(new_url, headers = headers)
                #print(req)
                raw = req.content
                # Finding market value that is in the form £88.8m
                reg ='\xa3(\d+\.\d+)m</td>\s+<td class="rechts">'
                results = re.findall(reg, str(raw), re.UNICODE)
                if(len(results) > 0):
                    marketValue = results[-1]
                    data = [clubs[j], str(year) + '/' + str(year+1), float(marketValue)*1000000]
                    writer.writerow(data)
                else:
                # if that doesn't exist, find market value that is in the form £88.8k
                    reg ='\xa3(\d+)k</td>\s+<td class="rechts">'
                    results = re.findall(reg, str(raw), re.UNICODE)
                    marketValue = results[-1]
                    data = [clubs[j], str(year) + '/' + str(year+1), float(marketValue)*1000]
                    writer.writerow(data)
                time.sleep(0.001)
    print ("DONE")
clubValue()
```
To run the script, navigate to the directory with the script with the terminal. Then type *clubvalue.py* to produce a dataset *clubValue.csv* with the market values of each PL team for each season. This can then be imported into the experiment. Just like the other additional information, the resultant dataset is also provided in the Datasets folder.

## Data Transformation and Exploration

#### Adding the training data and additional data of matches

Firstly, drag the **epl-training.csv** into the experiment. Next, drag the **Select Columns in Dataset** and connect the output of the training data to its input. Launch the column selector, and choose the following options:
-  With Rules
-  Begin with All Columns
-  Exclude column names (ID)

Then drag the **Add Rows** module and connect the output of the **Select Columns in Dataset** to the first input port.
Your model should look like this:
<img src="Images/3.png" style="height:250px">

As you can see, the other input port is missing. This is where we add the additional information of matches from the 2017/2018 season. Drag the **E0(2).csv** module into the experiment. Before adding them to the training data, we have to make some modifications to the additional information so that they fit in. First, drag in a **Execute Python Script** module and connect the output of **E0(2).csv** to its input. In the **Execute Python Script** module, replace the script with the following:

```python
import pandas as pd
def azureml_main(dataframe1 = None, dataframe2 = None):
    print('Input pandas.DataFrame #1:\r\n\r\n{0}'.format(dataframe1))
    dataframe1['Date'] = pd.to_datetime(dataframe1['Date'], dayfirst = True) # converts the datetime from DD/MM/YYYY to a DateTime object
    return dataframe1,
```

Next, drag a **Select Columns in Dataset** module and connect it to the output of the **Execute Python Script**. As the information from football-data.co.uk contains betting odds and other information that we will not need, we would filter these columns out. Launch the column selector, and choose the following:
-  By Name
-  Selected Columns: Date, HomeTeam, AwayTeam, FTHG, FTAG, FTR, HTHG, HTAG, HTR, Referee, HS, AS, HST, AST, HF, AF, HC, AC, HY, AY, HR, AR

Finally, connect the output of **Select Columns in Dataset** to the second input of **Add Rows**. Save the experiment and run it.

Your model should look like this now:

<img src="Images/4.png" style="height:200px">

The resultant table will have the information of all the matches from 2005/2006 to 2017/2018 that involve the current EPL teams.

In [23]:
ds = experiment.get_intermediate_dataset(
    node_id='a0835ea6-2f74-46ab-983d-71b496b9208a-3988',
    port_name='Results dataset',
    data_type_id='GenericCSV'
)
frame = ds.to_dataframe()
frame

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,8/13/2005 12:00:00 AM,Everton,Man United,0,2,A,0,1,A,G Poll,...,5,5,15,14,8,6,3,1,0,0
1,8/13/2005 12:00:00 AM,Man City,West Brom,0,0,D,0,0,D,C Foy,...,8,3,13,11,3,6,2,3,0,0
2,8/14/2005 12:00:00 AM,Arsenal,Newcastle,2,0,H,0,0,D,S Bennett,...,12,1,15,17,8,3,0,1,0,1
3,8/20/2005 12:00:00 AM,Newcastle,West Ham,0,0,D,0,0,D,D Gallagher,...,6,1,9,11,10,2,1,1,0,1
4,8/21/2005 12:00:00 AM,Chelsea,Arsenal,1,0,H,0,0,D,G Poll,...,6,3,17,21,3,7,2,3,0,0
5,8/24/2005 12:00:00 AM,Chelsea,West Brom,4,0,H,2,0,H,M Halsey,...,8,0,10,7,9,1,0,1,0,0
6,8/27/2005 12:00:00 AM,Tottenham,Chelsea,0,2,A,0,1,A,R Styles,...,6,7,16,12,2,5,3,2,1,0
7,8/28/2005 12:00:00 AM,Newcastle,Man United,0,2,A,0,0,D,H Webb,...,4,5,26,16,5,3,1,2,0,0
8,9/10/2005 12:00:00 AM,Man United,Man City,1,1,D,1,0,H,S Bennett,...,2,3,12,18,3,5,1,4,0,0
9,9/10/2005 12:00:00 AM,Tottenham,Liverpool,0,0,D,0,0,D,H Webb,...,7,6,16,13,4,4,1,1,0,0
10,9/18/2005 12:00:00 AM,Liverpool,Man United,0,0,D,0,0,D,R Styles,...,3,1,24,15,4,2,2,2,0,0
11,9/19/2005 12:00:00 AM,Arsenal,Everton,2,0,H,2,0,H,A Wiley,...,4,2,13,19,4,0,2,3,0,0
12,9/24/2005 12:00:00 AM,Newcastle,Man City,1,0,H,1,0,H,G Poll,...,6,4,14,14,3,6,0,2,0,0
13,9/24/2005 12:00:00 AM,West Ham,Arsenal,0,0,D,0,0,D,M Dean,...,0,2,11,7,4,3,2,0,0,0
14,10/2/2005 12:00:00 AM,Liverpool,Chelsea,1,4,A,1,2,A,G Poll,...,5,5,15,17,4,2,1,3,0,0
15,10/2/2005 12:00:00 AM,Man City,Everton,2,0,H,0,0,D,M Halsey,...,5,4,16,10,4,2,1,0,0,0
16,10/15/2005 12:00:00 AM,Tottenham,Everton,2,0,H,0,0,D,D Gallagher,...,5,4,13,9,5,8,0,2,0,0
17,10/15/2005 12:00:00 AM,West Brom,Arsenal,2,1,H,1,1,D,B Knight,...,4,10,23,10,3,6,1,2,0,0
18,10/16/2005 12:00:00 AM,Man City,West Ham,2,1,H,1,0,H,M Clattenburg,...,17,3,11,13,9,3,2,0,0,0
19,10/22/2005 12:00:00 AM,Arsenal,Man City,1,0,H,0,0,D,M Riley,...,2,4,24,17,4,3,3,5,0,0
20,10/22/2005 12:00:00 AM,Man United,Tottenham,1,1,D,1,0,H,U Rennie,...,9,7,15,12,7,8,2,3,0,0
21,10/23/2005 12:00:00 AM,Everton,Chelsea,1,1,D,1,0,H,M Clattenburg,...,4,12,14,14,3,11,2,2,0,0
22,10/29/2005 12:00:00 AM,Liverpool,West Ham,2,0,H,1,0,H,U Rennie,...,9,2,15,13,10,5,2,0,0,0
23,10/29/2005 12:00:00 AM,Tottenham,Arsenal,1,1,D,1,0,H,S Bennett,...,3,7,18,13,6,1,4,2,0,0
24,10/30/2005 12:00:00 AM,West Brom,Newcastle,0,3,A,0,0,D,H Webb,...,4,8,9,14,9,4,0,1,0,0
25,11/5/2005 12:00:00 AM,West Ham,West Brom,1,0,H,0,0,D,P Walton,...,6,6,15,12,8,5,2,0,0,0
26,11/6/2005 12:00:00 AM,Man United,Chelsea,1,0,H,1,0,H,G Poll,...,5,11,19,14,5,9,3,4,0,0
27,11/19/2005 12:00:00 AM,Chelsea,Newcastle,3,0,H,0,0,D,M Halsey,...,4,2,12,13,3,5,2,1,0,0
28,11/19/2005 12:00:00 AM,West Brom,Everton,4,0,H,1,0,H,D Gallagher,...,8,6,11,9,4,8,0,0,0,0
29,11/20/2005 12:00:00 AM,Tottenham,West Ham,1,1,D,1,0,H,A Wiley,...,8,4,16,13,9,7,3,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1962,12/13/2017 12:00:00 AM,Tottenham,Brighton,2,0,H,1,0,H,R Madley,...,8,4,5,10,10,2,1,1,0,0
1963,12/13/2017 12:00:00 AM,West Ham,Arsenal,0,0,D,0,0,D,J Moss,...,0,3,9,9,1,7,1,0,0,0
1964,12/16/2017 12:00:00 AM,Arsenal,Newcastle,1,0,H,1,0,H,S Attwell,...,5,2,13,9,7,5,2,1,0,0
1965,12/16/2017 12:00:00 AM,Brighton,Burnley,0,0,D,0,0,D,C Kavanagh,...,2,6,13,13,8,2,4,2,0,0
1966,12/16/2017 12:00:00 AM,Chelsea,Southampton,1,0,H,1,0,H,R East,...,8,2,8,16,8,4,1,3,0,0
1967,12/16/2017 12:00:00 AM,Leicester,Crystal Palace,0,3,A,0,2,A,M Atkinson,...,2,6,12,13,6,4,2,2,1,0
1968,12/16/2017 12:00:00 AM,Man City,Tottenham,4,1,H,1,0,H,C Pawson,...,11,2,13,20,5,1,2,4,0,0
1969,12/16/2017 12:00:00 AM,Stoke,West Ham,0,3,A,0,1,A,G Scott,...,0,7,12,13,7,9,2,1,0,0
1970,12/16/2017 12:00:00 AM,Watford,Huddersfield,1,4,A,0,2,A,M Oliver,...,3,9,12,17,8,7,2,1,1,1
1971,12/17/2017 12:00:00 AM,Bournemouth,Liverpool,0,4,A,0,3,A,A Marriner,...,2,7,5,10,2,3,1,1,0,0
1972,12/17/2017 12:00:00 AM,West Brom,Man United,1,2,A,0,2,A,A Taylor,...,5,3,14,7,6,3,1,3,0,0
1973,12/18/2017 12:00:00 AM,Everton,Swansea,3,1,H,1,1,D,J Moss,...,7,3,12,12,6,3,2,3,0,0
1974,12/22/2017 12:00:00 AM,Arsenal,Liverpool,3,3,D,0,1,A,M Atkinson,...,4,9,9,11,7,8,1,0,0,0
1975,12/23/2017 12:00:00 AM,Brighton,Watford,1,0,H,0,0,D,P Tierney,...,3,1,8,11,6,4,0,0,0,0
1976,12/23/2017 12:00:00 AM,Burnley,Tottenham,0,3,A,0,1,A,M Oliver,...,2,8,10,10,4,4,1,2,0,0
1977,12/23/2017 12:00:00 AM,Everton,Chelsea,0,0,D,0,0,D,R Madley,...,0,8,8,4,2,7,3,0,0,0
1978,12/23/2017 12:00:00 AM,Leicester,Man United,2,2,D,1,1,D,J Moss,...,3,6,19,8,4,6,2,2,1,0
1979,12/23/2017 12:00:00 AM,Man City,Bournemouth,4,0,H,1,0,H,M Jones,...,5,1,8,7,4,6,0,1,0,0
1980,12/23/2017 12:00:00 AM,Southampton,Huddersfield,1,1,D,1,0,H,L Probert,...,6,3,16,9,9,1,2,1,0,0
1981,12/23/2017 12:00:00 AM,Stoke,West Brom,3,1,H,2,0,H,N Swarbrick,...,5,7,9,11,1,11,1,0,0,0
1982,12/23/2017 12:00:00 AM,Swansea,Crystal Palace,1,1,D,0,0,D,C Pawson,...,2,5,13,11,6,3,2,3,0,0
1983,12/23/2017 12:00:00 AM,West Ham,Newcastle,2,3,A,1,1,D,L Mason,...,6,4,9,12,6,3,1,1,0,0
1984,12/26/2017 12:00:00 AM,Bournemouth,West Ham,3,3,D,1,1,D,S Attwell,...,10,5,12,14,7,4,3,4,0,0
1985,12/26/2017 12:00:00 AM,Chelsea,Brighton,2,0,H,0,0,D,M Dean,...,8,1,8,8,13,1,0,1,0,0
1986,12/26/2017 12:00:00 AM,Huddersfield,Stoke,1,1,D,1,0,H,A Taylor,...,8,7,9,12,8,5,2,4,0,0
1987,12/26/2017 12:00:00 AM,Liverpool,Swansea,5,0,H,1,0,H,K Friend,...,9,4,5,8,4,2,0,1,0,0
1988,12/26/2017 12:00:00 AM,Man United,Burnley,2,2,D,0,2,A,M Atkinson,...,6,2,10,14,12,2,3,7,0,0
1989,12/26/2017 12:00:00 AM,Tottenham,Southampton,5,2,H,2,0,H,G Scott,...,7,6,8,15,3,8,0,2,0,0
1990,12/26/2017 12:00:00 AM,Watford,Leicester,2,1,H,1,1,D,C Kavanagh,...,1,5,7,13,8,8,3,3,0,0
1991,12/26/2017 12:00:00 AM,West Brom,Everton,0,0,D,0,0,D,R East,...,3,3,14,13,10,2,2,0,0,0

#### Including distances

Next, we will include the information of the distances that away teams travel. To do so, drag the **clubdistance.csv** from the **Saved Datasets** and drop it in the experiment. Then, drag the **Join Data** module and connect both the output of **Add Rows** and **clubdistance.csv** to the left and right input of the **Join Data** module. In the **Join Data** module, select these options:
-  Join Key Columns for L : HomeTeam, AwayTeam
-  Join Key Columns for R : Home, Away
-  Join type : Inner Join
-  Keep right keys in joined table : Uncheck

This joins the data from two tables under the column *HomeTeam* and *AwayTeam* to state the distance between the two club stadiums. 

After that, we need to drag a **Execute Python Script** module and connect it to the output of **Join Data**. The goal of this module is to figure out the season the matches are played in based on the dates given. This is because the strength of football teams vary between seasons, but not years. Therefore, insert this script in the module:
```python
import pandas as pd
def azureml_main(dataframe1 = None, dataframe2 = None):
    print('Input pandas.DataFrame #1:\r\n\r\n{0}'.format(dataframe1))
    dataframe1['Date']=pd.to_datetime(dataframe1['Date'])
    dataframe1['Month']=dataframe1['Date'].dt.month
    dataframe1['Year']=dataframe1['Date'].dt.year
    for i, row in dataframe1.iterrows(): 
    # Example, if a match is played on 5th March 2014, it would belong to the 2013/2014 season
        season = str(row['Year']-1) + '/' + str(row['Year'])
    # But if it's played on 5th August 2014, then it would belong to the 2014/2015 season
        if(row['Month']>=7):
            season = str(row['Year']) + '/' + str(row['Year']+1)  
        dataframe1.set_value(i, 'Season', season)
    return dataframe1,
```
Your experiment should look like this after you run it.
<img src="Images/5.png" style="height:250px">

#### Include FIFA ratings

Drag the **fifaratings.csv** into the experiment. To keep the names of the teams consistent, an **Execute Python Script** is required. Connect it to the output of **fifaratings.csv** and paste this code:
```python
import pandas as pd
def azureml_main(dataframe1 = None, dataframe2 = None):
    print('Input pandas.DataFrame #1:\r\n\r\n{0}'.format(dataframe1))
    ## replacing the different names used with the ones given in the training data
    dataframe1 = dataframe1.replace(['Arsenal FC', 'Chelsea FC', 'Spurs', 'Tottenham Hotspur', 'Manchester City', 'Manchester United', 'Manchester Utd','Newcastle United', 'Newcastle Utd', 'Leicester City', 'Stoke City', 'Swansea City', 'West Bromwich', 'West Ham United'], ['Arsenal', 'Chelsea', 'Tottenham', 'Tottenham', 'Man City', 'Man United', 'Man United' ,'Newcastle', 'Newcastle', 'Leicester', 'Stoke', 'Swansea', 'West Brom', 'West Ham'])
    return dataframe1,
```
Then, insert another **Execute Python Script** and connect the left output of the previous **Execute Python Script** to its input. With this module, we would like to find out the team's FIFA ratings relative to each other. This is due to the fact that FIFA ratings are given in comparison to all the other teams worldwide, which include clubs from weaker leagues. Therefore, for a more accurate prediction, the FIFA stats of each EPL team are compared relative to each other. Replace the code with the one below:
```python
import pandas as pd
def azureml_main(dataframe1 = None, dataframe2 = None):
    print('Input pandas.DataFrame #1:\r\n\r\n{0}'.format(dataframe1))
    for i, row in dataframe1.iterrows():
        df2 = dataframe1[dataframe1['Season'] == row['Season']]
        attMean = df2['ATT'].mean()
        midMean = df2['MID'].mean()
        defMean = df2['DEF'].mean()
        ovrMean = df2['OVR'].mean()
        dataframe1.set_value(i, 'AVG ATT Rating', row['ATT']/attMean)
        dataframe1.set_value(i, 'AVG MID Rating', row['MID']/midMean)
        dataframe1.set_value(i, 'AVG DEF Rating', row['DEF']/defMean)
        dataframe1.set_value(i, 'AVG OVR Rating', row['OVR']/ovrMean)
    return dataframe1,
```
For now your experiment should look like this:
<img src="Images/6.png" style="height:250px">

The next step is to associate these ratings with their respective clubs. Firstly, insert a **Join Data** module and connect the module with the table containing the seasons column to its left input. Then connect the left output of the second **Execute Python Script** module to its right input. It should look like so:
<img src="Images/7.png" style="height:250px">
In the **Join Data** module, select these options:
-  Join Key Columns for L : HomeTeam, Season
-  Join Key Columns for R : Team, Season
-  Match case : Checked
-  Join type : Inner Join
-  Keep right keys in joined table : Uncheck

This associates the available FIFA ratings to the home teams in the table. Run the experiment. Now, to do so for the away teams, we insert another **Join Data** module and connect the output of the first **Join Data** module to its left input. Then, we connect the left output of the previous **Execute Python Script** (the one with the FIFA ratings) and connect to its right input. Then under **Join Data**, select these options:

-  Join Key Columns for L : AwayTeam, Season
-  Join Key Columns for R : Team, Season
-  Match case : Checked
-  Join type : Inner Join
-  Keep right keys in joined table : Uncheck

It looks similar to the first join, but this module instead associates the away team with their FIFA ratings.

Save the experiment and run it!

Right now your experiment should look like so:
<img src="Images/8.png" style="height:250px">

When you visualise the output, you will see that the FIFA ratings of each team are included in the training data. Not only that, there is not only an *ATT*, *MID*, *DEF*, *OVR*, but also *ATT (2)*, *MID (2)*, *DEF (2)*, *OVR (2)* along with some other columns that are repeated.

#### Include market values 
To include the market values of each team of each season, we would do something similar with the FIFA ratings (Two Join Data modules). Firstly, drag in the **clubValues.csv** dataset into the experiment. Then, insert a **Join Data** module and connect the output of the previous **Join Data** to its left input. Then connect the output of **clubValues.csv** to its right input. 

In the **Join Data** module, select these options:
-  Join Key Columns for L : HomeTeam, Season
-  Join Key Columns for R : Team, Season
-  Match case : Checked
-  Join type : Inner Join
-  Keep right keys in joined table : Uncheck

Run the experiment after this join. This associates the market values to the home teams in the table for each season. For the away teams, insert another **Join Data** module and connect the output of the first **Join Data** module to its left input. Then, we connect the output of **clubValues.csv** and connect to its right input. Then under **Join Data**, select these options:

-  Join Key Columns for L : AwayTeam, Season
-  Join Key Columns for R : Team, Season
-  Match case : Checked
-  Join type : Inner Join
-  Keep right keys in joined table : Uncheck

Run the experiment. It looks similar to the first join, but this module instead associates the away team with their market values for that season. These joins are identical to the joins for the FIFA ratings.

Right now your experiment should look like so:
<img src="Images/9.png" style="height:250px">

With the repeated name of columns, we will change the column names by adding a **Edit Metadata** module. Connect the **Edit Metadata** module to the output of the **Join Data**, and select these options:
-  Selected options: ATT, MID, DEF, OVR, ATT (2), MID (2), DEF (2), OVR (2), AVG ATT Rating, AVG MID Rating, AVG DEF Rating, AVG OVR Rating, AVG ATT Rating (2), AVG MID Rating (2), AVG DEF Rating (2), AVG OVR Rating (2), Market Value, Market Value (2)
-  Leave everything unchanged except New Column Names
-  New Column Names : HATT, HMID, HDEF, HOVR, Home Avg ATT Rating, Home Avg MID Rating, Home Avg DEF Rating, Home Avg OVR Rating,AATT, AMID, ADEF, AOVR,Away Avg ATT Rating, Away Avg MID Rating, Away Avg DEF Rating, Away Avg OVR Rating, HMV, AMV

This allows us to clearly differentiate between home and away team stats.

After running the experiment, visualise the output of **Edit Metadata**. As you can see below, the columns in the dataset produced are correctly named with more information.

In [24]:
ds = experiment.get_intermediate_dataset(
    node_id='eeaeb126-0241-4de0-af7b-5a03a0ea5267-161449',
    port_name='Results dataset',
    data_type_id='GenericCSV'
)
frame = ds.to_dataframe()
frame

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,AATT,AMID,ADEF,AOVR,Away Avg ATT Rating,Away Avg MID Rating,Away Avg DEF Rating,Away Avg OVR Rating,HMV,AMV
0,8/13/2005 12:00:00 AM,Everton,Man United,0,2,A,0,1,A,G Poll,...,92,85,84,86,1.151439,1.100324,1.104536,1.109677,98800000,259630000
1,8/13/2005 12:00:00 AM,Man City,West Brom,0,0,D,0,0,D,C Foy,...,74,73,71,73,0.926158,0.944984,0.933596,0.941935,67410000,49550000
2,8/14/2005 12:00:00 AM,Arsenal,Newcastle,2,0,H,0,0,D,S Bennett,...,86,80,76,80,1.076345,1.035599,0.999343,1.032258,197060000,145580000
3,8/20/2005 12:00:00 AM,Newcastle,West Ham,0,0,D,0,0,D,D Gallagher,...,70,73,71,73,0.876095,0.944984,0.933596,0.941935,145580000,41760000
4,8/21/2005 12:00:00 AM,Chelsea,Arsenal,1,0,H,0,0,D,G Poll,...,90,84,86,86,1.126408,1.087379,1.130835,1.109677,316960000,197060000
5,8/24/2005 12:00:00 AM,Chelsea,West Brom,4,0,H,2,0,H,M Halsey,...,74,73,71,73,0.926158,0.944984,0.933596,0.941935,316960000,49550000
6,8/27/2005 12:00:00 AM,Tottenham,Chelsea,0,2,A,0,1,A,R Styles,...,87,88,85,87,1.088861,1.139159,1.117686,1.122581,130950000,316960000
7,8/28/2005 12:00:00 AM,Newcastle,Man United,0,2,A,0,0,D,H Webb,...,92,85,84,86,1.151439,1.100324,1.104536,1.109677,145580000,259630000
8,9/10/2005 12:00:00 AM,Man United,Man City,1,1,D,1,0,H,S Bennett,...,80,77,78,78,1.001252,0.996764,1.025641,1.006452,259630000,67410000
9,9/10/2005 12:00:00 AM,Tottenham,Liverpool,0,0,D,0,0,D,H Webb,...,90,87,81,85,1.126408,1.126214,1.065089,1.096774,130950000,185990000
10,9/18/2005 12:00:00 AM,Liverpool,Man United,0,0,D,0,0,D,R Styles,...,92,85,84,86,1.151439,1.100324,1.104536,1.109677,185990000,259630000
11,9/19/2005 12:00:00 AM,Arsenal,Everton,2,0,H,2,0,H,A Wiley,...,80,80,80,80,1.001252,1.035599,1.051940,1.032258,197060000,98800000
12,9/24/2005 12:00:00 AM,Newcastle,Man City,1,0,H,1,0,H,G Poll,...,80,77,78,78,1.001252,0.996764,1.025641,1.006452,145580000,67410000
13,9/24/2005 12:00:00 AM,West Ham,Arsenal,0,0,D,0,0,D,M Dean,...,90,84,86,86,1.126408,1.087379,1.130835,1.109677,41760000,197060000
14,10/2/2005 12:00:00 AM,Liverpool,Chelsea,1,4,A,1,2,A,G Poll,...,87,88,85,87,1.088861,1.139159,1.117686,1.122581,185990000,316960000
15,10/2/2005 12:00:00 AM,Man City,Everton,2,0,H,0,0,D,M Halsey,...,80,80,80,80,1.001252,1.035599,1.051940,1.032258,67410000,98800000
16,10/15/2005 12:00:00 AM,Tottenham,Everton,2,0,H,0,0,D,D Gallagher,...,80,80,80,80,1.001252,1.035599,1.051940,1.032258,130950000,98800000
17,10/15/2005 12:00:00 AM,West Brom,Arsenal,2,1,H,1,1,D,B Knight,...,90,84,86,86,1.126408,1.087379,1.130835,1.109677,49550000,197060000
18,10/16/2005 12:00:00 AM,Man City,West Ham,2,1,H,1,0,H,M Clattenburg,...,70,73,71,73,0.876095,0.944984,0.933596,0.941935,67410000,41760000
19,10/22/2005 12:00:00 AM,Arsenal,Man City,1,0,H,0,0,D,M Riley,...,80,77,78,78,1.001252,0.996764,1.025641,1.006452,197060000,67410000
20,10/22/2005 12:00:00 AM,Man United,Tottenham,1,1,D,1,0,H,U Rennie,...,83,79,76,79,1.038798,1.022654,0.999343,1.019355,259630000,130950000
21,10/23/2005 12:00:00 AM,Everton,Chelsea,1,1,D,1,0,H,M Clattenburg,...,87,88,85,87,1.088861,1.139159,1.117686,1.122581,98800000,316960000
22,10/29/2005 12:00:00 AM,Liverpool,West Ham,2,0,H,1,0,H,U Rennie,...,70,73,71,73,0.876095,0.944984,0.933596,0.941935,185990000,41760000
23,10/29/2005 12:00:00 AM,Tottenham,Arsenal,1,1,D,1,0,H,S Bennett,...,90,84,86,86,1.126408,1.087379,1.130835,1.109677,130950000,197060000
24,10/30/2005 12:00:00 AM,West Brom,Newcastle,0,3,A,0,0,D,H Webb,...,86,80,76,80,1.076345,1.035599,0.999343,1.032258,49550000,145580000
25,11/5/2005 12:00:00 AM,West Ham,West Brom,1,0,H,0,0,D,P Walton,...,74,73,71,73,0.926158,0.944984,0.933596,0.941935,41760000,49550000
26,11/6/2005 12:00:00 AM,Man United,Chelsea,1,0,H,1,0,H,G Poll,...,87,88,85,87,1.088861,1.139159,1.117686,1.122581,259630000,316960000
27,11/19/2005 12:00:00 AM,Chelsea,Newcastle,3,0,H,0,0,D,M Halsey,...,86,80,76,80,1.076345,1.035599,0.999343,1.032258,316960000,145580000
28,11/19/2005 12:00:00 AM,West Brom,Everton,4,0,H,1,0,H,D Gallagher,...,80,80,80,80,1.001252,1.035599,1.051940,1.032258,49550000,98800000
29,11/20/2005 12:00:00 AM,Tottenham,West Ham,1,1,D,1,0,H,A Wiley,...,70,73,71,73,0.876095,0.944984,0.933596,0.941935,130950000,41760000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1962,12/13/2017 12:00:00 AM,Tottenham,Brighton,2,0,H,1,0,H,R Madley,...,72,75,74,74,0.914867,0.957243,0.958549,0.945687,610200000,98460000
1963,12/13/2017 12:00:00 AM,West Ham,Arsenal,0,0,D,0,0,D,J Moss,...,83,83,81,82,1.054638,1.059349,1.049223,1.047923,198000000,466160000
1964,12/16/2017 12:00:00 AM,Arsenal,Newcastle,1,0,H,1,0,H,S Attwell,...,74,74,76,75,0.940280,0.944480,0.984456,0.958466,466160000,131850000
1965,12/16/2017 12:00:00 AM,Brighton,Burnley,0,0,D,0,0,D,C Kavanagh,...,74,75,76,75,0.940280,0.957243,0.984456,0.958466,98460000,110120000
1966,12/16/2017 12:00:00 AM,Chelsea,Southampton,1,0,H,1,0,H,R East,...,78,78,79,78,0.991105,0.995533,1.023316,0.996805,636080000,209340000
1967,12/16/2017 12:00:00 AM,Leicester,Crystal Palace,0,3,A,0,2,A,M Atkinson,...,80,76,75,76,1.016518,0.970006,0.971503,0.971246,231300000,168300000
1968,12/16/2017 12:00:00 AM,Man City,Tottenham,4,1,H,1,0,H,C Pawson,...,86,82,81,82,1.092757,1.046586,1.049223,1.047923,704250000,610200000
1969,12/16/2017 12:00:00 AM,Stoke,West Ham,0,3,A,0,1,A,G Scott,...,79,78,77,78,1.003812,0.995533,0.997409,0.996805,153450000,198000000
1970,12/16/2017 12:00:00 AM,Watford,Huddersfield,1,4,A,0,2,A,M Oliver,...,75,72,73,73,0.952986,0.918953,0.945596,0.932907,149850000,69530000
1971,12/17/2017 12:00:00 AM,Bournemouth,Liverpool,0,4,A,0,3,A,A Marriner,...,83,82,78,81,1.054638,1.046586,1.010363,1.035144,114300000,527400000
1972,12/17/2017 12:00:00 AM,West Brom,Man United,1,2,A,0,2,A,A Taylor,...,87,83,81,83,1.105464,1.059349,1.049223,1.060703,135770000,633150000
1973,12/18/2017 12:00:00 AM,Everton,Swansea,3,1,H,1,1,D,J Moss,...,76,76,74,76,0.965693,0.970006,0.958549,0.971246,301500000,134330000
1974,12/22/2017 12:00:00 AM,Arsenal,Liverpool,3,3,D,0,1,A,M Atkinson,...,83,82,78,81,1.054638,1.046586,1.010363,1.035144,466160000,527400000
1975,12/23/2017 12:00:00 AM,Brighton,Watford,1,0,H,0,0,D,P Tierney,...,76,78,75,77,0.965693,0.995533,0.971503,0.984026,98460000,149850000
1976,12/23/2017 12:00:00 AM,Burnley,Tottenham,0,3,A,0,1,A,M Oliver,...,86,82,81,82,1.092757,1.046586,1.049223,1.047923,110120000,610200000
1977,12/23/2017 12:00:00 AM,Everton,Chelsea,0,0,D,0,0,D,R Madley,...,85,84,82,84,1.080051,1.072112,1.062176,1.073482,301500000,636080000
1978,12/23/2017 12:00:00 AM,Leicester,Man United,2,2,D,1,1,D,J Moss,...,87,83,81,83,1.105464,1.059349,1.049223,1.060703,231300000,633150000
1979,12/23/2017 12:00:00 AM,Man City,Bournemouth,4,0,H,1,0,H,M Jones,...,76,74,75,75,0.965693,0.944480,0.971503,0.958466,704250000,114300000
1980,12/23/2017 12:00:00 AM,Southampton,Huddersfield,1,1,D,1,0,H,L Probert,...,75,72,73,73,0.952986,0.918953,0.945596,0.932907,209340000,69530000
1981,12/23/2017 12:00:00 AM,Stoke,West Brom,3,1,H,2,0,H,N Swarbrick,...,78,77,77,77,0.991105,0.982770,0.997409,0.984026,153450000,135770000
1982,12/23/2017 12:00:00 AM,Swansea,Crystal Palace,1,1,D,0,0,D,C Pawson,...,80,76,75,76,1.016518,0.970006,0.971503,0.971246,134330000,168300000
1983,12/23/2017 12:00:00 AM,West Ham,Newcastle,2,3,A,1,1,D,L Mason,...,74,74,76,75,0.940280,0.944480,0.984456,0.958466,198000000,131850000
1984,12/26/2017 12:00:00 AM,Bournemouth,West Ham,3,3,D,1,1,D,S Attwell,...,79,78,77,78,1.003812,0.995533,0.997409,0.996805,114300000,198000000
1985,12/26/2017 12:00:00 AM,Chelsea,Brighton,2,0,H,0,0,D,M Dean,...,72,75,74,74,0.914867,0.957243,0.958549,0.945687,636080000,98460000
1986,12/26/2017 12:00:00 AM,Huddersfield,Stoke,1,1,D,1,0,H,A Taylor,...,78,76,77,77,0.991105,0.970006,0.997409,0.984026,69530000,153450000
1987,12/26/2017 12:00:00 AM,Liverpool,Swansea,5,0,H,1,0,H,K Friend,...,76,76,74,76,0.965693,0.970006,0.958549,0.971246,527400000,134330000
1988,12/26/2017 12:00:00 AM,Man United,Burnley,2,2,D,0,2,A,M Atkinson,...,74,75,76,75,0.940280,0.957243,0.984456,0.958466,633150000,110120000
1989,12/26/2017 12:00:00 AM,Tottenham,Southampton,5,2,H,2,0,H,G Scott,...,78,78,79,78,0.991105,0.995533,1.023316,0.996805,610200000,209340000
1990,12/26/2017 12:00:00 AM,Watford,Leicester,2,1,H,1,1,D,C Kavanagh,...,79,79,76,78,1.003812,1.008296,0.984456,0.996805,149850000,231300000
1991,12/26/2017 12:00:00 AM,West Brom,Everton,0,0,D,0,0,D,R East,...,71,80,75,80,0.902160,1.021059,0.971503,1.022364,135770000,301500000

#### Engineering features from current data
From the current training data, we would like to produce a dataset that contains the average goals scored and conceded for each team per season. This allows us to then gauge the relative strengths between the PL teams for better predictions. So, to do so, drag a **Execute Python Script** and connect it to the output of **Edit Metadata**. Then, in the module, paste this code:
```python
import pandas as pd
def azureml_main(dataframe1 = None, dataframe2 = None):
    print('Input pandas.DataFrame #1:\r\n\r\n{0}'.format(dataframe1))
    clubs=['Arsenal', 'Bournemouth', 'Brighton', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Huddersfield', 'Leicester', 'Liverpool', 'Man City', 'Man United', 'Newcastle', 'Southampton', 'Stoke', 'Swansea', 'Tottenham', 'Watford', 'West Brom', 'West Ham']
    startingYear = 2005
    currentYear = 2018
    year = startingYear
    currentData = []
    data = ['Team', 'Season', 'AVG Home Goals Scored', 'AVG Home Goals Conceded', 'AVG Away Goals Scored', 'AVG Away Goals Conceded']
    averageFrame = pd.DataFrame(columns = data)
    for i in range(currentYear - startingYear):
        for j in range(len(clubs)):
            club = clubs[j]
            season = str(year)+'/'+str(year+1)
            # Getting the average home and away goals scored and conceded per match
            homeOffense = dataframe1[dataframe1['HomeTeam'] == club][dataframe1['Season'] == season]['FTHG'].mean()
            homeDefense = dataframe1[dataframe1['HomeTeam'] == club][dataframe1['Season'] == season]['FTAG'].mean()
            awayOffense = dataframe1[dataframe1['AwayTeam'] == club][dataframe1['Season'] == season]['FTAG'].mean()
            awayDefense = dataframe1[dataframe1['AwayTeam'] == club][dataframe1['Season'] == season]['FTHG'].mean()
            data = {'Team': club,'Season': season,'AVG Home Goals Scored': homeOffense,'AVG Home Goals Conceded': homeDefense,'AVG Away Goals Scored': awayOffense,'AVG Away Goals Conceded': awayDefense}
            currentData.append(data)
        year += 1    
    averageFrame = averageFrame.append(currentData)
    return averageFrame,
```
This produces a table with each PL team and their average goals scored/conceded home and away. Then drag another **Execute Python Script** to its output and paste this code in the module:
```python
import pandas as pd
def azureml_main(dataframe1 = None, dataframe2 = None):
    print('Input pandas.DataFrame #1:\r\n\r\n{0}'.format(dataframe1))
    for i, row in dataframe1.iterrows(): 
    # Calculates the relative offensive/defensive strength based on the other teams
        homeATTMean = dataframe1[dataframe1['Season'] == row['Season']]['AVG Home Goals Scored'].mean() 
        homeDEFMean = dataframe1[dataframe1['Season'] == row['Season']]['AVG Home Goals Conceded'].mean() 
        awayATTMean = dataframe1[dataframe1['Season'] == row['Season']]['AVG Away Goals Scored'].mean() 
        awayDEFMean = dataframe1[dataframe1['Season'] == row['Season']]['AVG Away Goals Conceded'].mean() 
        dataframe1.set_value(i, 'HomeATTStr', row['AVG Home Goals Scored']/homeATTMean) 
        dataframe1.set_value(i, 'HomeDEFStr', row['AVG Home Goals Conceded']/homeDEFMean) 
        dataframe1.set_value(i, 'AwayATTStr', row['AVG Away Goals Scored']/awayATTMean) 
        dataframe1.set_value(i, 'AwayDEFStr', row['AVG Away Goals Conceded']/awayDEFMean) 
    return dataframe1,
```
When you click Run, a dataset stating the averages and strengths of the teams will be produced. As we will be using this dataset, right click the first output of the **Execute Python Script** and click *Save Dataset*. Save the dataset as **Goal Average for Team per season**. As the desired dataset is produced and saved, we can now delete the modules used to make them.
So, delete all the modules after **Edit Metadata** so that it looks like this:

<img src="Images/10.png" style="width: 300px; height:250px; margin:auto">
<p style="text-align:center;">BEFORE</p>
<img src="Images/11.png" style="width: 300px; height:150px">
<p style="text-align:center;">AFTER</p>

Currently, we now have a dataset that tells us the goal averages and strengths of teams. To combine them with the current training data, we insert a new **Execute Python Script** and connect the **Edit Metadata** output to its left input. Then, go to Saved Datasets, and drag the recently saved **Goal Average for Team per Season** into the experiment. Connect the output of that dataset to the second input of the **Execute Python Script**. Then in the **Execute Python Script**, paste this code:
```python
import pandas as pd
def azureml_main(dataframe1 = None, dataframe2 = None):
    print('Input pandas.DataFrame #1:\r\n\r\n{0}'.format(dataframe1))
    for i, row in dataframe1.iterrows():
        #refers to the second table and insert the right values into the first table
        homeATTMean = dataframe2[dataframe2['Season'] == row['Season']]['AVG Home Goals Scored'].mean()
        awayATTMean = dataframe2[dataframe2['Season'] == row['Season']]['AVG Away Goals Scored'].mean()
        season = row['Season']
        homeRow = dataframe2[dataframe2['Team'] == row['HomeTeam']][dataframe2['Season'] == season]
        awayRow = dataframe2[dataframe2['Team'] == row['AwayTeam']][dataframe2['Season'] == season]
        homeATTStr = float(homeRow['HomeATTStr'])
        homeDEFStr = float(homeRow['HomeDEFStr'])
        awayATTStr = float(awayRow['AwayATTStr'])
        awayDEFStr = float(awayRow['AwayDEFStr'])
        # Calculates the goal expectancy for home and away team
        homeGoalExp = homeATTStr * awayDEFStr * homeATTMean
        awayGoalExp = awayATTStr * homeDEFStr * awayATTMean
        dataframe1.set_value(i, 'HomeGoalExp', homeGoalExp)
        dataframe1.set_value(i, 'AwayGoalExp', awayGoalExp)
    return dataframe1,
```
This produces the *HomeGoalExp* and *AwayGoalExp* columns which calculations will be explained in the **Methodology and Overview** section. Then, add in another **Execute Python Script** and connect it to the left output of the previous module. In this module, we plan to calculate the difference in goal expectancies between the teams. Also, we would like to convert the FIFA ratings that we previously included into FIFA skill differences to be used later on as a feature for our model. Finally, we also want to measure the difference between the teams' *OVR* stat as it gives an indicator of how far apart the skill level between the two teams are. So, paste this code in the Python module:
```python
import pandas as pd
def azureml_main(dataframe1 = None, dataframe2 = None):
    print('Input pandas.DataFrame #1:\r\n\r\n{0}'.format(dataframe1))
    for i, row in dataframe1.iterrows():
        fifaHomeStrength = row['Home Avg ATT Rating'] / row['Away Avg DEF Rating'] * row['Home Avg MID Rating'] / row['Away Avg MID Rating']
        fifaAwayStrength = row['Away Avg ATT Rating'] / row['Home Avg DEF Rating'] * row['Home Avg MID Rating'] / row['Away Avg MID Rating'] 
        fifaOVRDiff = row['Home Avg OVR Rating'] / row['Away Avg OVR Rating']
        dataframe1.set_value(i, 'FIFA Home Strength', fifaHomeStrength)
        dataframe1.set_value(i, 'FIFA Away Strength', fifaAwayStrength)
        dataframe1.set_value(i, 'FIFA Overall Difference', fifaOVRDiff)
        dataframe1.set_value(i, 'FIFA Skill Diff', fifaHomeStrength / fifaAwayStrength)
        dataframe1.set_value(i, 'Goal Exp Diff', row['HomeGoalExp']-row['AwayGoalExp'])
        dataframe1.set_value(i, 'MV Ratio', row['HMV']/row['AMV'])
    return dataframe1,
```
Save and run the experiment!
This produces a few new columns, mainly *FIFA Overall Difference*, *FIFA Skill Diff*, *Goal Exp Diff* and *MV Ratio*. The calculations will be explained later on in the **Methodology and Overview** section, but it basically gives an indication of the strength differences between the two PL teams that we are predicting on.

In [25]:
ds = experiment.get_intermediate_dataset(
    node_id='eeaeb126-0241-4de0-af7b-5a03a0ea5267-162108',
    port_name='Results dataset',
    data_type_id='GenericCSV'
)
frame = ds.to_dataframe()
frame

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HMV,AMV,HomeGoalExp,AwayGoalExp,FIFA Home Strength,FIFA Away Strength,FIFA Overall Difference,FIFA Skill Diff,Goal Exp Diff,MV Ratio
0,8/13/2005 12:00:00 AM,Everton,Man United,0,2,A,0,1,A,G Poll,...,98800000,259630000,0.629921,1.746032,0.853167,1.030200,0.930233,0.828157,-1.116110,0.380542
1,8/13/2005 12:00:00 AM,Man City,West Brom,0,0,D,0,0,D,C Foy,...,67410000,49550000,1.828521,0.519481,1.131233,0.952483,1.068493,1.187667,1.309041,1.360444
2,8/14/2005 12:00:00 AM,Arsenal,Newcastle,2,0,H,0,0,D,S Bennett,...,197060000,145580000,1.933508,0.808081,1.183507,0.999406,1.075000,1.184211,1.125428,1.353620
3,8/20/2005 12:00:00 AM,Newcastle,West Ham,0,0,D,0,0,D,D Gallagher,...,145580000,41760000,1.364829,0.779221,1.263455,0.960736,1.095890,1.315091,0.585609,3.486111
4,8/21/2005 12:00:00 AM,Chelsea,Arsenal,1,0,H,0,0,D,G Poll,...,316960000,197060000,2.099738,0.144300,1.008734,1.055795,1.011628,0.955426,1.955437,1.608444
5,8/24/2005 12:00:00 AM,Chelsea,West Brom,4,0,H,2,0,H,M Halsey,...,316960000,49550000,3.989501,0.115440,1.405961,0.998907,1.191781,1.407499,3.874061,6.396771
6,8/27/2005 12:00:00 AM,Tottenham,Chelsea,0,2,A,0,1,A,R Styles,...,130950000,316960000,0.577428,1.731602,0.834365,0.978143,0.908046,0.853009,-1.154174,0.413144
7,8/28/2005 12:00:00 AM,Newcastle,Man United,0,2,A,0,0,D,H Webb,...,145580000,259630000,0.944882,0.952381,0.917155,1.084421,0.930233,0.845756,-0.007499,0.560721
8,9/10/2005 12:00:00 AM,Man United,Man City,1,1,D,1,0,H,S Bennett,...,259630000,67410000,1.364829,0.086580,1.239293,1.000671,1.102564,1.238462,1.278249,3.851506
9,9/10/2005 12:00:00 AM,Tottenham,Liverpool,0,0,D,0,0,D,H Webb,...,130950000,185990000,0.769904,1.385281,0.885632,1.023503,0.929412,0.865295,-0.615378,0.704070
10,9/18/2005 12:00:00 AM,Liverpool,Man United,0,0,D,0,0,D,R Styles,...,185990000,259630000,0.944882,0.793651,1.043797,1.106511,0.988372,0.943323,0.151231,0.716366
11,9/19/2005 12:00:00 AM,Arsenal,Everton,2,0,H,2,0,H,A Wiley,...,197060000,98800000,2.388451,0.461760,1.124331,0.929680,1.075000,1.209375,1.926691,1.994534
12,9/24/2005 12:00:00 AM,Newcastle,Man City,1,0,H,1,0,H,G Poll,...,145580000,67410000,1.259843,0.173160,1.090324,1.040946,1.025641,1.047436,1.086682,2.159620
13,9/24/2005 12:00:00 AM,West Ham,Arsenal,0,0,D,0,0,D,M Dean,...,41760000,197060000,0.962380,1.010101,0.673280,1.048528,0.848837,0.642119,-0.047721,0.211915
14,10/2/2005 12:00:00 AM,Liverpool,Chelsea,1,4,A,1,2,A,G Poll,...,185990000,316960000,0.629921,1.082251,0.996352,1.010702,0.977011,0.985801,-0.452330,0.586793
15,10/2/2005 12:00:00 AM,Man City,Everton,2,0,H,0,0,D,M Halsey,...,67410000,98800000,2.020997,0.519481,0.916122,0.939612,0.975000,0.975000,1.501517,0.682287
16,10/15/2005 12:00:00 AM,Tottenham,Everton,2,0,H,0,0,D,D Gallagher,...,130950000,98800000,2.020997,0.461760,0.975164,0.989386,0.987500,0.985625,1.559237,1.325405
17,10/15/2005 12:00:00 AM,West Brom,Arsenal,2,1,H,1,1,D,B Knight,...,49550000,197060000,1.049869,0.793651,0.711753,1.048528,0.848837,0.678811,0.256218,0.251446
18,10/16/2005 12:00:00 AM,Man City,West Ham,2,1,H,1,0,H,M Clattenburg,...,67410000,41760000,1.251094,1.168831,1.131233,0.900998,1.068493,1.255533,0.082262,1.614224
19,10/22/2005 12:00:00 AM,Arsenal,Man City,1,0,H,0,0,D,M Riley,...,197060000,67410000,1.364829,0.230880,1.198089,0.965901,1.102564,1.240385,1.133949,2.923305
20,10/22/2005 12:00:00 AM,Man United,Tottenham,1,1,D,1,0,H,U Rennie,...,259630000,130950000,1.364829,0.346320,1.239705,1.011913,1.088608,1.225111,1.018509,1.982665
21,10/23/2005 12:00:00 AM,Everton,Chelsea,1,1,D,1,0,H,M Clattenburg,...,98800000,316960000,0.419948,2.380952,0.814387,0.940999,0.919540,0.865450,-1.961005,0.311711
22,10/29/2005 12:00:00 AM,Liverpool,West Ham,2,0,H,1,0,H,U Rennie,...,185990000,41760000,1.364829,0.649351,1.437914,0.980306,1.164384,1.466801,0.715479,4.453784
23,10/29/2005 12:00:00 AM,Tottenham,Arsenal,1,1,D,1,0,H,S Bennett,...,130950000,197060000,0.962380,0.577201,0.863933,1.060057,0.918605,0.814987,0.385179,0.664518
24,10/30/2005 12:00:00 AM,West Brom,Newcastle,0,3,A,0,0,D,H Webb,...,49550000,145580000,1.784777,1.111111,0.845675,1.052023,0.912500,0.803856,0.673666,0.340363
25,11/5/2005 12:00:00 AM,West Ham,West Brom,1,0,H,0,0,D,P Walton,...,41760000,49550000,1.828521,0.808081,0.938409,0.992032,1.000000,0.945946,1.020441,0.842785
26,11/6/2005 12:00:00 AM,Man United,Chelsea,1,0,H,1,0,H,G Poll,...,259630000,316960000,0.682415,0.649351,0.995079,0.952201,0.988506,1.045030,0.033064,0.819125
27,11/19/2005 12:00:00 AM,Chelsea,Newcastle,3,0,H,0,0,D,M Halsey,...,316960000,145580000,3.569554,0.202020,1.198535,1.059314,1.087500,1.131426,3.367534,2.177222
28,11/19/2005 12:00:00 AM,West Brom,Everton,4,0,H,1,0,H,D Gallagher,...,49550000,98800000,2.204724,0.634921,0.803391,0.978626,0.912500,0.820937,1.569804,0.501518
29,11/20/2005 12:00:00 AM,Tottenham,West Ham,1,1,D,1,0,H,A Wiley,...,130950000,41760000,1.251094,1.038961,1.204138,0.948727,1.082192,1.269215,0.212133,3.135776
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1962,12/13/2017 12:00:00 AM,Tottenham,Brighton,2,0,H,1,0,H,R Madley,...,610200000,98460000,1.841578,0.331686,1.246413,0.953329,1.108108,1.307432,1.509892,6.197441
1963,12/13/2017 12:00:00 AM,West Ham,Arsenal,0,0,D,0,0,D,J Moss,...,198000000,466160000,1.082644,1.289890,0.899086,0.993680,0.951220,0.904804,-0.207246,0.424747
1964,12/16/2017 12:00:00 AM,Arsenal,Newcastle,1,0,H,1,0,H,S Attwell,...,466160000,131850000,2.866926,0.829215,1.201582,1.005161,1.093333,1.195413,2.037710,3.535533
1965,12/16/2017 12:00:00 AM,Brighton,Burnley,0,0,D,0,0,D,C Kavanagh,...,98460000,110120000,0.742028,1.094564,0.929312,0.980940,0.986667,0.947368,-0.352536,0.894116
1966,12/16/2017 12:00:00 AM,Chelsea,Southampton,1,0,H,1,0,H,R East,...,636080000,209340000,1.798855,0.451462,1.136630,1.004866,1.076923,1.131126,1.347394,3.038502
1967,12/16/2017 12:00:00 AM,Leicester,Crystal Palace,0,3,A,0,2,A,M Atkinson,...,231300000,168300000,1.227719,0.464360,1.074044,1.073328,1.026316,1.000667,0.763358,1.374332
1968,12/16/2017 12:00:00 AM,Man City,Tottenham,4,1,H,1,0,H,C Pawson,...,704250000,610200000,2.914146,1.044811,1.054489,1.066430,1.024390,0.988803,1.869334,1.154130
1969,12/16/2017 12:00:00 AM,Stoke,West Ham,0,3,A,0,1,A,G Scott,...,153450000,198000000,1.913328,1.718737,0.968201,0.980614,0.987179,0.987342,0.194591,0.775000
1970,12/16/2017 12:00:00 AM,Watford,Huddersfield,1,4,A,0,2,A,M Oliver,...,149850000,69530000,1.753884,1.393081,1.106357,1.062685,1.054795,1.041096,0.360802,2.155185
1971,12/17/2017 12:00:00 AM,Bournemouth,Liverpool,0,4,A,0,3,A,A Marriner,...,114300000,527400000,1.618970,3.582210,0.862540,0.979664,0.925926,0.880445,-1.963240,0.216724
1972,12/17/2017 12:00:00 AM,West Brom,Man United,1,2,A,0,2,A,A Taylor,...,135770000,633150000,0.667825,2.205712,0.876324,1.028215,0.927711,0.852278,-1.537887,0.214436
1973,12/18/2017 12:00:00 AM,Everton,Swansea,3,1,H,1,1,D,J Moss,...,301500000,134330000,1.834832,0.538990,0.990708,1.046336,1.052632,0.946835,1.295843,2.244473
1974,12/22/2017 12:00:00 AM,Arsenal,Liverpool,3,3,D,0,1,A,M Atkinson,...,466160000,527400000,3.372854,2.238881,1.056551,1.017419,1.012346,1.038462,1.133973,0.883883
1975,12/23/2017 12:00:00 AM,Brighton,Watford,1,0,H,0,0,D,P Tierney,...,98460000,149850000,0.944399,1.592093,0.905483,0.968704,0.961039,0.934737,-0.647694,0.657057
1976,12/23/2017 12:00:00 AM,Burnley,Tottenham,0,3,A,0,1,A,M Oliver,...,110120000,610200000,0.566639,0.895552,0.819666,1.015254,0.914634,0.807350,-0.328913,0.180465
1977,12/23/2017 12:00:00 AM,Everton,Chelsea,0,0,D,0,0,D,R Madley,...,301500000,636080000,0.802739,1.940364,0.808905,1.058793,0.952381,0.763989,-1.137624,0.473997
1978,12/23/2017 12:00:00 AM,Leicester,Man United,2,2,D,1,1,D,J Moss,...,231300000,633150000,0.964636,2.205712,0.910613,1.068802,0.939759,0.851994,-1.241076,0.365316
1979,12/23/2017 12:00:00 AM,Man City,Bournemouth,4,0,H,1,0,H,M Jones,...,704250000,114300000,3.642682,0.348270,1.261966,1.044310,1.120000,1.208421,3.294412,6.161417
1980,12/23/2017 12:00:00 AM,Southampton,Huddersfield,1,1,D,1,0,H,L Probert,...,209340000,69530000,1.594440,0.904598,1.135472,1.008878,1.068493,1.125479,0.689842,3.010787
1981,12/23/2017 12:00:00 AM,Stoke,West Brom,3,1,H,2,0,H,N Swarbrick,...,153450000,135770000,1.140025,0.787754,0.980775,0.980775,1.000000,1.000000,0.352270,1.130220
1982,12/23/2017 12:00:00 AM,Swansea,Crystal Palace,1,1,D,0,0,D,C Pawson,...,134330000,168300000,0.566639,0.497529,0.994019,1.060476,1.000000,0.937333,0.069110,0.798158
1983,12/23/2017 12:00:00 AM,West Ham,Newcastle,2,3,A,1,1,D,L Mason,...,198000000,131850000,1.274189,1.289890,1.074778,0.993680,1.040000,1.081615,-0.015701,1.501706
1984,12/26/2017 12:00:00 AM,Bournemouth,West Ham,3,3,D,1,1,D,S Attwell,...,114300000,198000000,1.766149,1.447357,0.918549,0.980270,0.961538,0.937038,0.318791,0.577273
1985,12/26/2017 12:00:00 AM,Chelsea,Brighton,2,0,H,0,0,D,M Dean,...,636080000,98460000,1.403107,0.290225,1.261966,0.964671,1.135135,1.308183,1.112882,6.460288
1986,12/26/2017 12:00:00 AM,Huddersfield,Stoke,1,1,D,1,0,H,A Taylor,...,69530000,153450000,1.484056,0.995058,0.905174,0.992963,0.948052,0.911588,0.488997,0.453112
1987,12/26/2017 12:00:00 AM,Liverpool,Swansea,5,0,H,1,0,H,K Friend,...,527400000,134330000,2.050695,0.124382,1.187105,1.031245,1.065789,1.151138,1.926313,3.926152
1988,12/26/2017 12:00:00 AM,Man United,Burnley,2,2,D,0,2,A,M Atkinson,...,633150000,110120000,1.780867,0.456068,1.242696,0.991759,1.106667,1.253023,1.324798,5.749637
1989,12/26/2017 12:00:00 AM,Tottenham,Southampton,5,2,H,2,0,H,G Scott,...,610200000,209340000,2.360998,0.515956,1.122621,0.993051,1.051282,1.130477,1.845041,2.914875
1990,12/26/2017 12:00:00 AM,Watford,Leicester,2,1,H,1,1,D,C Kavanagh,...,149850000,231300000,1.403107,2.960298,0.968523,1.020178,0.987179,0.949367,-1.557191,0.647860
1991,12/26/2017 12:00:00 AM,West Brom,Everton,0,0,D,0,0,D,R East,...,135770000,301500000,1.032093,0.812631,0.981921,0.870584,0.962500,1.127887,0.219462,0.450315

Right now the experiment should look like this:
<img src="Images/12.png" style="height:250px">

#### Labelling the features and labels for the columns
This is the part where we tell the model which columns act as features and labels for it to train the data on. Firstly, let's select the labels. Drag a **Edit Metadata** module into the experiment and connect it to the left output of the **Execute Python Script**. In the **Edit Metadata** module, choose the following options:

-  Selected Columns (By Name):  FTR
-  Leave everything unchanged except *Fields*
-  Fields : Label

Then, drag another **Edit Metadata** module and add it to the experiment. Connect the output of the previous **Edit Metadata** module to the input of this one. With this module, we would select the features of the model. So, in the **Edit Metadata** module, select the options below:

-  Selected Columns (With Rules -> Begin with All Columns -> Exclude Column Names): Date, HomeTeam, AwayTeam, FTR  
-  Leave everything unchanged except *Fields*
-  Fields : Feature

Finally, we want to make sure that the *Date*, *HomeTeam* and *AwayTeam* columns don't get misidentified as features. Therefore, we include another **Edit Metadata**, connect it to the previous module and select the following options:

- Selected Columns (With Rules -> Begin with No Columns -> Include Column Names): Date, HomeTeam, AwayTeam
-  Leave everything unchanged except *Fields*
-  Fields : Clear Feature

Finally, save and run the experiment. Your experiment should look like this:
<img src="Images/13.png" style="height:250px">

#### Feature Selection
Finally, we would like to filter the useful features to be used for the predictive model. Drag in a **Select Columns in Dataset** and connect the output of the **Edit Metadata** to it. In the module, launch the Column Selector and select these columns:
 
-  Date, HomeTeam, AwayTeam, FTR, FIFA Overall Difference, Goal Exp Diff, FIFA Skill Diff, Distance, MV Ratio

After running the experiment, you can see that the unnecessary columns are filtered out. We can visualise how the remaining features affect a typical match outcome. Drag a **Filter Based Feature Selection** module and connect it to the output of the **Select Columns in Dataset**. In that module, select the following options:

-  Feature selection method: Pearson correlation
-  Operate on feature columns only: Checked
-  Target column: FTR
-  Number of desired features: 5

Run the experiment and right click the second output to see the results.

In [26]:
ds = experiment.get_intermediate_dataset(
    node_id='a0835ea6-2f74-46ab-983d-71b496b9208a-11339',
    port_name='Results dataset',
    data_type_id='GenericCSV'
)
frame = ds.to_dataframe()
frame

,FTR,Goal Exp Diff,FIFA Overall Difference,FIFA Skill Diff,MV Ratio,Distance
0,1,0.510512,0.385571,0.355422,0.305315,0.021492

These values range from 0 to 1 and the higher the score, the more the feature affects the overall *FTR* (Full Time Result) column. As you can see, excluding FTR, the *Goal Exp Diff* has the highest value, whereas the *Distance* has by far the lowest value. However, we will still use these columns to offer a more accurate model, as some results are indeed affected by this distance value.

#### Normalise
Finally, before training the model with the data, we have to normalise the data. The goal of normalisation is to adjust the given values such that they use a similar scale without changing the distribution and ratios of these values. For example, if a column contains values from 0 to 1, while another column ranges from 5 to 50,000, this may cause some problems in some machine learning algorithms. Therefore, to do so, add a **Normalize Data** module into the experiment. However, instead of connecting it to the output of **Filter Based Feature Selection**, we are just going to connect it to the output of **Select Columns in Dataset** as the columns are already selected beforehand. In the **Normalize Data** module, select these options:

-  Transformation Method: Z-Score
-  Use 0 for constant columns when checked: Checked
-  Selected columns (Column Type): Numeric, All

After running the experiment, you can see that the values are all adjusted. After a series of transformations, the data can finally be used to train the model. After all data transformation, the experiment should look like this.
<img src="Images/14.png">

## Methodology and Overview
### Additional data sources used
Before we discuss the methodology used, it will be clearer if the additional data sources are explained. First of all, information of matches of the 2017/2018 are included with the training data. This is due to the current training data not including teams like Huddersfield and Brighton which were recently promoted to the Premier League. 

Not only that, FIFA team ratings are obtained for the current PL teams. These ratings are used by the FIFA video game series to model the strengths and weaknesses of the football players and teams. For team ratings, for every season each football team is assigned a *ATT*, *MID*, *DEF* and *OVR* stat by FIFA, and this information will be used by us for further calculations.

We also included a dataset of distances between two PL stadiums. This allows us to determine whether the distance travelled by the away team will affect their performance during a match, thus affecting the outcome of the match.

Finally, we added the information of market values of the respective PL teams for every season from 2005/2006 to 2017/2018. This is because the financial strength of a team would result in buying better players during the transfer market. This would produce a stronger team overall.

### Methodology
For this predictive model, several features are engineered from the training data to act as features. In broad terms, we try to measure the difference between skill levels between the two teams involved in a match. This difference is then used to predict which team has the advantage, which would determine whether the outcome of the match would be a home win, draw or away win. 

#### Goal expectancy
One of the features used is the difference of goal expectancies between the two teams. The goal expectancy of a team is the number of goals a team is expected to score in a particular match.  

In a typical football match predictor, a person would want to predict the exact score of the match (example: Arsenal 2:0 Everton). In these cases, a simple method to implement those predictors is to calculate the respective goal expectancies of both teams, and use a Poisson distribution to obtain the various probabilities of each score [5,6]. 

Firstly, a few statistics are required to do the calculations. As you can see in the **Goal Average for Team per season** dataset, the average home and away goals scored and conceded per season is calculated. Then for every team, their (home/away) attacking strength is calculated by taking their average (home/away) goals scored per match divided by the overall average (home/away) goals scored per match. Whereas, for the (home/away) defensive strengths, their average (home/away) goals conceded per match is divided by the overall average (home/away) goals conceded per match. This then produces the additional columns in the **Goal Average for Team per season** dataset.

According to [5], the formula to calculate the goal expectancies is as follows:

    Home Team Goal Expectancy: home attacking strength x away defensive strength x average goals home 
    Away Team Goal Expectancy: away attacking strength x home defensive strength x average goals away

This produces the goal expectancies for both teams for a match. However, in our case, we would only like to predict the outcome of a given match. There is no difference between a 0-0 scoreline and a 2-2 scoreline, as both outcomes are draws in this case. Therefore, our method of utilising these goal expectancies are quite different. We would calculate the difference in goal expectancies between the two teams and use that as a feature for our model. In other terms, in a match between Manchester City against Burnley, if Manchester City is expected to score 3 goals, whereas Burnley is only expected to score 0.5 goals, then with a goal expectancy difference of +2.5 for Manchester City, this game would most likely end in a home win for Manchester City.
Therefore we would be using the differences between these goal expectancies. Therefore, a new column is produced *Goal Exp Diff* that displays the difference between the two:

    Goal Exp Diff = Home Team Goal Expectancy - Away Team Goal Expectancy
    
This *Goal Exp Diff* column would then be used as a feature in our model.

#### FIFA Ratings
To improve the accuracy of the model, FIFA ratings are used as an indicator of the team's strength. Two features are engineered from this FIFA ratings alone. The first one, named **FIFA Overall Diff** is the ratio of strengths between the home and away team in terms of their *OVR* stat. We will use a match between Arsenal and Newcastle in August 14th 2005 as an example. In the 2005/2006 season, Arsenal had an *OVR* rating of 86 while Newcastle had an *OVR* rating of 80. Therefore the Overall Difference would just be 86/80 = 1.075. The ratio is chosen over the actual difference, as the relative strengths between the teams is a better indicator of a close game than the absolute difference in strengths. For example, a match where both teams have 85 rating is way closer than a match where both teams have 40 rating even though they both have 0 absolute difference. This is because in low-rated matches, the offensive and defensive plays of both teams are more sloppier. While in a match between two highly-rated teams, a small mistake by a team can get easily punished by another.
Formula for the **FIFA Overall Diff** calculations is as so:

    FIFA Overall Diff = HOVR / AOVR
        where
            HOVR = Home FIFA Overall Rating
            AOVR = Away FIFA Overall Rating

The second feature is named **FIFA Skill Diff**. This feature attempts to use the FIFA ratings to calculate the various stat matchups between the two teams. The formula for this column is calculated as follows:

    FIFA Skill Diff = FIFA Home Strength / FIFA Away Strength
        where
            FIFA Home Strength = ATT(Home)/DEF(Away) * MID(Home)/MID(Away)
            FIFA Away Strength = ATT(Away)/DEF(Home) * MID(Away)/MID(Home)
        
    *ATT(Home)* means the ATT stat of the home team
    FIFA Home Strength represents the strength of the home team in that particular match
    FIFA Away Strength represents the strength of the away team in that particular match
    
With this feature, there is an emphasis on the midfield strength of both teams, as teams with the better midfield players tend to control more possession of the ball. And according to past history, teams with higher possession tend to score more goals then teams who don't. So, using the same example match as before, Arsenal would have a 1.18 *FIFA Home Strength* and Newcastle have a 1.00 *FIFA Away Strength*. Therefore the FIFA Skill Diff would be 1.18, which is above 1. The match ended in a 2-0 home win for Arsenal, so as you can tell, these features are a good indicator of the match outcome.

#### Distance
The distance stated in the dataset are the distance as the crow flies between two Premier League stadiums. This column is added as a supplementary feature as in some matches, the away team would perform worse than usual because of the huge distance travelled.

#### Market Value
With available market values for each team for each season, we included the market values for each team. A strong Premier League usually has the financial power to compete during the transfer market and obtain great players. These players will then often bolster their current first-team roster, giving them a higher chance of gaining three points (win) against other opponents. This can be clearly seen when Manchester City won their first Premier League for the first time in 44 years in the 2011/2012 season [6]. In that season, they had a market value of 415 million pounds, only coming second to Chelsea's 420 million. This proves that the market value of a team is a good indicator of their strength.

However, for this task we are not predicting the victors of the Premier League. Instead we are predicting the outcome of a given match between two teams. So, instead of using the market values directly, we are calculating the ratio between the market values of the home teams and away teams. The formula for the *MV Ratio* (Market Value Ratio) is calculated as follows:

    MV Ratio = HMV / AMV
        where HMV = HomeTeam Market Value
              AMV = AwayTeam Market Value
              
The *MV Ratio* is the indicator of the relative financial strengths between two teams in a match. In that match between Arsenal and Newcastle, Arsenal had a 197 mil market value whereas Newcastle had a 145 mil market value at the time. This produces a *MV Ratio* of 1.35, which is also higher than 1. With Arsenal winning that match, the *MV Ratio* can be considered as a suitable feature as well. The reasoning of why the ratio is chosen instead of the difference is similar to the **FIFA Overall Diff** is stated above. 

#### Step by step Description
With the current setup of the experiment, we would apply a **Multiclass Decision Jungle** to train the model. So, drag a **Multiclass Decision Jungle** module and insert it into the experiment. Then, drag a **Tune Model Hyperparameters** into the experiment. Connect the output of the **Multiclass Decision Jungle** to the left input of the **Tune Model Hyperparameters**, and connect the left output of **Normalize Data** to the middle input of the **Tune Model Hyperparameters**. With the **Tune Model Hyperparameters**, choose the following options:

-  Specify parameter sweeping: Random grid
-  Maximum number of runs on random grid: 5
-  Random seed: 0
-  Label column (By Name): FTR
-  Metric for scoring performance for classification: F-score
-  Metric for scoring performance for regression: Mean absolute error (Irrelevant as this is a classification task)

Then insert a **Cross Validate Model** into the experiment. Connect the right output of **Tune Model Hyperparameters** to its left input and connect the left output of **Normalize Data** to its right output. With the **Cross Validate Model** module, select these options:

-  Label column (By Name): FTR
-  Random seed: 0

Finally, drag in a **Evaluate Model** module, and connect the left output of **Cross Validate Model** to its input. Your  experiment should look like this:
<img src="Images/15.png">

Now click save and run your experiment to train and evaluate the model! Now the model is ready to be deployed!

The steps will be furthered explained in the **Model and Validation** section

#### Different approaches used
There were several iterations that were attempted before this final version of features and algorithms were chosen.

 - Different features
 

>Initially, the FIFA ratings were not processed and were used directly as features while training. The next iteration involved using the processed *FIFA Home Strength* and *FIFA Away Strength* features. These features work to a certain extent, but it does not clearly represent the skill difference between the two teams as these features may be used as independent variables when training. 

>Then, the next iteration involved using the absolute differences between various columns for each team. This includes the pairings of *FIFA Home Strength*/*FIFA Away Strength*, *HOVR*/*AOVR* and *HMV*/*AMV*. However, the difference between these values didn't fully capture the relative strength differences between the teams. And therefore the ratio was preferred over the differences.


 - Different algorithms


>Several algorithms have been tried out to figure out the most suitable training model. Some of them include **Multiclass Logistic Regression**, **Multiclass Neural Network** and a **One-vs-All Multiclass** combined with a **Two-class Boosted Decision Tree**.
>

## Model and Validation
The predictive model is trained using the **Multiclass Decision Jungle** module combined with the **Tune Model Hyperparameters** and **Cross Validate Model** modules. 

#### Tune Model Hyperparameters
The metric we used to evaluate the classification is the F-score. The F-score is the harmonic mean between precision and recall, where precision is the ratio between true positives and positives classified by the model, and recall being the ratio between correct positives classified and actual relevant samples. This F-score has a range from 0 to 1, where 1 being the best value and 0 the worst. 

The module then runs a parameter sweep on the dataset and finds out the best set of hyperparameters to be used to produce the best F-score. The top entry of the dataset below with the highest accuracy is the final parameters used to train the data.

In [27]:
ds = experiment.get_intermediate_dataset(
    node_id='eeaeb126-0241-4de0-af7b-5a03a0ea5267-101136',
    port_name='Results dataset',
    data_type_id='GenericCSV'
)
frame = ds.to_dataframe()
frame

,Number of optimization steps per decision DAG layer,Maximum width of the decision DAGs,Maximum depth of the decision DAGs,Number of decision DAGs,Accuracy
0,16384,8,32,8,0.566767
1,4096,512,1,8,0.565763
2,1024,512,1,8,0.565261
3,16384,8,128,32,0.561245
4,16384,128,32,1,0.502510

#### Cross Validate Model
The re-sampling method we chose was the k-fold cross validation, where k = 10 throughout the experiment. This module produces 10 models and for each model, the training data is split into 10 folds. It then sets aside one fold to be used as a validation set, and uses the remaining 9 folds to train the model. The advantage of doing k-fold cross validation, is that every match is used for training and validation.

In [28]:
ds = experiment.get_intermediate_dataset(
    node_id='a0835ea6-2f74-46ab-983d-71b496b9208a-997',
    port_name='Results dataset',
    data_type_id='GenericCSV'
)
frame = ds.to_dataframe()
frame

,Fold Number,Number of examples in fold,Model,"Average Log Loss for Class ""A""","Precision for Class ""A""","Recall for Class ""A""","Average Log Loss for Class ""D""","Precision for Class ""D""","Recall for Class ""D""","Average Log Loss for Class ""H""","Precision for Class ""H""","Recall for Class ""H"""
0,0,199,Microsoft.Analytics.Modules.Gemini.Dll.Multicl...,0.982268,0.569231,0.606557,1.398784,0.187500,0.061224,0.736301,0.593220,0.786517
1,1,199,Microsoft.Analytics.Modules.Gemini.Dll.Multicl...,1.008303,0.561644,0.602941,1.359363,0.444444,0.086957,0.630111,0.572650,0.788235
2,2,199,Microsoft.Analytics.Modules.Gemini.Dll.Multicl...,0.957859,0.542857,0.716981,1.358735,0.333333,0.019608,0.553583,0.658730,0.873684
3,3,199,Microsoft.Analytics.Modules.Gemini.Dll.Multicl...,0.930908,0.558442,0.716667,1.356436,0.750000,0.055556,0.625383,0.593220,0.823529
4,4,199,Microsoft.Analytics.Modules.Gemini.Dll.Multicl...,1.078709,0.507692,0.622642,1.351407,1.000000,0.088889,0.591059,0.638462,0.821782
5,5,199,Microsoft.Analytics.Modules.Gemini.Dll.Multicl...,1.059779,0.435484,0.500000,1.352985,0.200000,0.021277,0.665615,0.568182,0.765306
6,6,199,Microsoft.Analytics.Modules.Gemini.Dll.Multicl...,0.961934,0.373333,0.608696,1.465377,0.333333,0.035714,0.683351,0.610169,0.742268
7,7,200,Microsoft.Analytics.Modules.Gemini.Dll.Multicl...,1.010237,0.485294,0.578947,1.364916,1.000000,0.020000,0.575836,0.618321,0.870968
8,8,199,Microsoft.Analytics.Modules.Gemini.Dll.Multicl...,0.973116,0.493333,0.616667,1.397797,0.307692,0.088889,0.631828,0.621622,0.734043
9,9,200,Microsoft.Analytics.Modules.Gemini.Dll.Multicl...,1.061250,0.638298,0.500000,1.353674,0.200000,0.075000,0.594571,0.623188,0.860000
10,Mean,1992,Microsoft.Analytics.Modules.Gemini.Dll.Multicl...,1.002436,0.516561,0.607010,1.375947,0.475630,0.055311,0.628764,0.609776,0.806633
11,Standard Deviation,1992,Microsoft.Analytics.Modules.Gemini.Dll.Multicl...,0.050189,0.075097,0.073155,0.036049,0.321428,0.029331,0.054741,0.028420,0.051490

With this dataset, we can see the precision, recall and average log loss for each possible outcome of *FTR* (H, D and A) for each fold.

## Results
These are the resultant datasets and evaluation metrics with the predicted results after applying the **Multiclass Decision Jungle**, with the *Scored Labels* column indicating the predicted outcome of the matches.

In [29]:
ds = experiment.get_intermediate_dataset(
    node_id='eeaeb126-0241-4de0-af7b-5a03a0ea5267-97569',
    port_name='Results dataset',
    data_type_id='GenericCSV'
)
frame = ds.to_dataframe()
frame

,Fold Assignments,Date,HomeTeam,AwayTeam,FTR,Distance,FIFA Overall Difference,FIFA Skill Diff,Goal Exp Diff,MV Ratio,"Scored Probabilities for Class ""A""","Scored Probabilities for Class ""D""","Scored Probabilities for Class ""H""",Scored Labels
0,4,8/13/2005 12:00:00 AM,Everton,Man United,A,-1.243398,-1.095860,-1.255544,-1.297793,-0.690441,0.625031,0.239860,0.135110,A
1,3,8/13/2005 12:00:00 AM,Man City,West Brom,D,-0.664325,1.008177,1.220472,0.798498,-0.138411,0.100973,0.147341,0.751686,H
2,7,8/14/2005 12:00:00 AM,Arsenal,Newcastle,H,1.865782,1.107197,1.196670,0.639783,-0.142255,0.096025,0.248606,0.655369,H
3,1,8/20/2005 12:00:00 AM,Newcastle,West Ham,D,1.892508,1.425106,2.098069,0.173166,1.059089,0.136972,0.231366,0.631662,H
4,5,8/21/2005 12:00:00 AM,Chelsea,Arsenal,H,-1.555207,0.142807,-0.379015,1.357241,0.001300,0.023975,0.048206,0.927819,H
5,6,8/24/2005 12:00:00 AM,Chelsea,West Brom,H,-0.156522,2.884357,2.734506,3.015692,2.698816,0.078895,0.077691,0.843414,H
6,6,8/27/2005 12:00:00 AM,Tottenham,Chelsea,A,-1.501754,-1.433494,-1.084386,-1.330695,-0.672075,0.695279,0.166299,0.138422,A
7,4,8/28/2005 12:00:00 AM,Newcastle,Man United,A,-0.094160,-1.095860,-1.134340,-0.339514,-0.588937,0.366421,0.269405,0.364175,A
8,9,9/10/2005 12:00:00 AM,Man United,Man City,D,-1.590842,1.526665,1.570308,0.771882,1.264934,0.110012,0.136816,0.753172,H
9,0,9/10/2005 12:00:00 AM,Tottenham,Liverpool,D,0.876902,-1.108351,-0.999769,-0.864962,-0.508181,0.548231,0.248554,0.203215,A
10,7,9/18/2005 12:00:00 AM,Liverpool,Man United,D,-1.243398,-0.211098,-0.462373,-0.202308,-0.501254,0.355988,0.340585,0.303428,A
11,2,9/19/2005 12:00:00 AM,Arsenal,Everton,H,0.894720,1.107197,1.369983,1.332392,0.218805,0.088647,0.151002,0.760351,H
12,8,9/24/2005 12:00:00 AM,Newcastle,Man City,H,-0.129795,0.356057,0.254674,0.606292,0.311807,0.127630,0.321608,0.550762,H
13,6,9/24/2005 12:00:00 AM,West Ham,Arsenal,D,-1.581934,-2.334527,-2.536830,-0.374282,-0.785437,0.214425,0.194488,0.591087,H
14,4,10/2/2005 12:00:00 AM,Liverpool,Chelsea,A,0.912537,-0.383983,-0.169817,-0.724024,-0.574249,0.384230,0.304985,0.310785,A
15,4,10/2/2005 12:00:00 AM,Man City,Everton,H,-1.189945,-0.414593,-0.244207,0.964874,-0.520452,0.046963,0.137600,0.815437,H
16,3,10/15/2005 12:00:00 AM,Tottenham,Everton,H,0.876902,-0.224370,-0.171030,1.014767,-0.158150,0.098710,0.143911,0.757379,H
17,4,10/15/2005 12:00:00 AM,West Brom,Arsenal,H,-0.165430,-2.334527,-2.284121,-0.111558,-0.763167,0.413459,0.286163,0.300378,A
18,4,10/16/2005 12:00:00 AM,Man City,West Ham,H,0.689817,1.008177,1.687885,-0.261924,0.004557,0.282954,0.314426,0.402620,H
19,3,10/22/2005 12:00:00 AM,Arsenal,Man City,H,0.645273,1.526665,1.583553,0.647149,0.742030,0.112560,0.200844,0.686596,H
20,6,10/22/2005 12:00:00 AM,Man United,Tottenham,D,0.636364,1.314276,1.478360,0.547364,0.212119,0.101860,0.189573,0.708567,H
21,1,10/23/2005 12:00:00 AM,Everton,Chelsea,D,0.921446,-1.258575,-0.998704,-2.028117,-0.729217,0.614955,0.215084,0.169961,A
22,9,10/29/2005 12:00:00 AM,Liverpool,West Ham,H,0.939264,2.467428,3.142929,0.285425,1.604229,0.088139,0.240030,0.671831,H
23,6,10/29/2005 12:00:00 AM,Tottenham,Arsenal,D,-1.590842,-1.272813,-1.346250,-0.000084,-0.530462,0.322126,0.325696,0.352179,H
24,6,10/30/2005 12:00:00 AM,West Brom,Newcastle,A,0.805631,-1.365713,-1.422915,0.249282,-0.713076,0.172316,0.290336,0.537349,H
25,2,11/5/2005 12:00:00 AM,West Ham,West Brom,H,-0.111977,-0.034146,-0.444309,0.549033,-0.430035,0.108622,0.230373,0.661005,H
26,1,11/6/2005 12:00:00 AM,Man United,Chelsea,H,0.698726,-0.209064,0.238107,-0.304451,-0.443364,0.401545,0.293792,0.304663,A
27,9,11/19/2005 12:00:00 AM,Chelsea,Newcastle,H,1.919235,1.297421,0.833132,2.577851,0.321723,0.016635,0.092850,0.890515,H
28,2,11/19/2005 12:00:00 AM,West Brom,Everton,H,-0.548510,-1.365713,-1.305268,1.023901,-0.622289,0.023593,0.124448,0.851960,H
29,8,11/20/2005 12:00:00 AM,Tottenham,West Ham,D,-1.573025,1.216641,1.782116,-0.149665,0.861726,0.509976,0.255393,0.234630,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1962,1,12/13/2017 12:00:00 AM,Tottenham,Brighton,H,-0.904863,1.611033,2.045326,0.972113,2.586522,0.018928,0.114292,0.866780,H
1963,6,12/13/2017 12:00:00 AM,West Ham,Arsenal,D,-1.581934,-0.776483,-0.727659,-0.512174,-0.665538,0.391425,0.308443,0.300132,A
1964,1,12/16/2017 12:00:00 AM,Arsenal,Newcastle,H,1.865782,1.386192,1.273821,1.428357,1.086930,0.052779,0.089964,0.857257,H
1965,8,12/16/2017 12:00:00 AM,Brighton,Burnley,D,1.536155,-0.237051,-0.434512,-0.637763,-0.401118,0.372723,0.310245,0.317032,A
1966,6,12/16/2017 12:00:00 AM,Chelsea,Southampton,H,-0.708869,1.136462,0.831068,0.831650,0.806927,0.134816,0.132262,0.732922,H
1967,0,12/16/2017 12:00:00 AM,Leicester,Crystal Palace,A,-0.272336,0.366325,-0.067435,0.326812,-0.130587,0.144892,0.288250,0.566857,H
1968,9,12/16/2017 12:00:00 AM,Man City,Tottenham,H,0.618546,0.337023,-0.149145,1.282814,-0.254639,0.049365,0.106077,0.844558,H
1969,1,12/16/2017 12:00:00 AM,Stoke,West Ham,A,0.297828,-0.229247,-0.159207,-0.164828,-0.468222,0.303243,0.296212,0.400545,H
1970,9,12/16/2017 12:00:00 AM,Watford,Huddersfield,A,0.502731,0.799712,0.211009,-0.021156,0.309308,0.276243,0.326587,0.397170,H
1971,0,12/17/2017 12:00:00 AM,Bournemouth,Liverpool,A,1.117440,-1.161398,-0.895428,-2.030049,-0.782729,0.684820,0.223572,0.091608,A
1972,1,12/17/2017 12:00:00 AM,West Brom,Man United,A,-0.682142,-1.134235,-1.089423,-1.662376,-0.784017,0.668958,0.232954,0.098088,A
1973,5,12/18/2017 12:00:00 AM,Everton,Swansea,H,0.226558,0.766797,-0.438185,0.787089,0.359609,0.104025,0.212870,0.683105,H
1974,6,12/22/2017 12:00:00 AM,Arsenal,Liverpool,D,0.894720,0.153730,0.192866,0.647170,-0.406883,0.161851,0.229244,0.608905,H
1975,1,12/23/2017 12:00:00 AM,Brighton,Watford,H,-0.842501,-0.627051,-0.521508,-0.892896,-0.534666,0.461026,0.295948,0.243026,A
1976,3,12/23/2017 12:00:00 AM,Burnley,Tottenham,A,0.885811,-1.333235,-1.398848,-0.617343,-0.803155,0.384340,0.281298,0.334362,A
1977,1,12/23/2017 12:00:00 AM,Everton,Chelsea,D,0.921446,-0.758808,-1.697488,-1.316390,-0.637793,0.701333,0.181370,0.117297,A
1978,5,12/23/2017 12:00:00 AM,Leicester,Man United,D,-0.566328,-0.950887,-1.091377,-1.405813,-0.699019,0.651032,0.213486,0.135481,A
1979,1,12/23/2017 12:00:00 AM,Man City,Bournemouth,H,1.090714,1.792003,1.363413,2.514645,2.566229,0.003947,0.030591,0.965462,H
1980,5,12/23/2017 12:00:00 AM,Southampton,Huddersfield,D,1.090714,1.008177,0.792177,0.263265,0.791313,0.143636,0.245235,0.611130,H
1981,0,12/23/2017 12:00:00 AM,Stoke,West Brom,H,-1.154310,-0.034146,-0.072027,-0.028531,-0.268108,0.314305,0.326575,0.359120,H
1982,1,12/23/2017 12:00:00 AM,Swansea,Crystal Palace,D,0.743270,-0.034146,-0.503625,-0.273293,-0.455176,0.246516,0.257925,0.495559,H
1983,7,12/23/2017 12:00:00 AM,West Ham,Newcastle,A,1.892508,0.574570,0.490070,-0.346604,-0.058830,0.344253,0.261790,0.393957,H
1984,2,12/26/2017 12:00:00 AM,Bournemouth,West Ham,D,-0.254519,-0.619450,-0.505662,-0.057470,-0.579612,0.309679,0.312985,0.377335,H
1985,6,12/26/2017 12:00:00 AM,Chelsea,Brighton,H,-1.029586,2.022328,2.050496,0.628939,2.734598,0.045881,0.277712,0.676407,H
1986,9,12/26/2017 12:00:00 AM,Huddersfield,Stoke,D,-0.940498,-0.824686,-0.680936,0.089656,-0.649559,0.189881,0.483979,0.326140,D
1987,9,12/26/2017 12:00:00 AM,Liverpool,Swansea,H,0.226558,0.967032,0.968893,1.332065,1.306987,0.021527,0.073381,0.905092,H
1988,4,12/26/2017 12:00:00 AM,Man United,Burnley,D,-1.314669,1.589098,1.670595,0.812119,2.334251,0.030619,0.182949,0.786432,H
1989,7,12/26/2017 12:00:00 AM,Tottenham,Southampton,H,-0.566328,0.746260,0.826597,1.261815,0.737282,0.059002,0.121568,0.819430,H
1990,0,12/26/2017 12:00:00 AM,Watford,Leicester,H,-0.584145,-0.229247,-0.420746,-1.679062,-0.539847,0.701827,0.198166,0.100007,A
1991,2,12/26/2017 12:00:00 AM,West Brom,Everton,D,-0.548510,-0.604817,0.808760,-0.143329,-0.651134,0.309679,0.312985,0.377335,H


<img src="Images/16.png" style="height:600px">

As you can see, the trained model has a 56.7% average accuracy and a 71.1% overall acccuracy. However, by examining the confusion matrix produced, we can tell that to achieve the highest F-score, the model would mainly predict either a home win or an away win. The model performs quite well when predicting home wins and away wins, but performs relatively poorly when trying to determine if the match would end in a draw. This is fair, as even if both teams have similar strengths, they will play the match with the intention of winning it. 

The left metrics and confusion matrix represents the performance of the **Multiclass Logistic Regression** while the right metrics represent the evaluations done on **Multiclass Neural Network**.

<img src="Images/17.png" style="height:600px">

With the **Multiclass Logistic Regression** and **Multiclass Neural Network**, the model would have a higher average accuracy and overall accuracy. However, through their confusion matrix, you can tell, that by trying to achieve the highest possible F-score, the model only tries to predict either home wins or away wins. As you can see, it has a 0% prediction rate when it comes to matches that ends in a tie as the model never attempts to predict a draw. In a sample where the matches mainly end in draws, these models would have 0% accuracy, making it perform worse than the **Multiclass Decision Jungle** algorithms. 

Therefore, we settled on using the **Multiclass Decision Jungle** algorithm to train our model as even though it doesn't have the highest overall accuracy, it does attempt to predict draws if two teams are evenly matched, and it has a higher macro average precision value compared to the other two.

## Final Predictions on Test Set

With the model fully trained, we can finally use the model to predict our matches. With the Azure platform, this can be done by deploying the model as a web service. To do so, click the *SET UP WEB SERVICE* in the bottom panel and click *Create Predictive Experiment(Recommended)*. In doing so, Azure will modify some modules, while introducing some new modules which include *Web Service Input* and *Web Service Output*. The model should look like this:
<img src="Images/18.png">

Now, with this deployment stage, some modules are not required as they are only used to train the model. Once the model is trained, these modules are no longer used. Therefore, firstly, we will be changing the immediate **Select Columns in Dataset** after the **epl-training.csv** training data. 

Right now, the **Web Service Input** of the experiment should look like this:
<img src="Images/19.png" style="height: 400px">

With that **Select Columns in Dataset** selected, launch the column selector and choose the following options:

-  With Rules
-  Begin with No Columns
-  Include column names ( Date, HomeTeam, AwayTeam )

Then, connect the output of this module to the left input of **Join Data** module below. As we no longer require the additional information of matches, we can delete the modules used to include the additional information (Matches from 2017/2018 season) to the raw training data. Finally, connect the output of **Web Service Input** to the same input of the **Join Data** module. 

Now, your experiment should look like this:

<img src="Images/20.png" style="height: 300px">

With the input settled, as we have finished training the model, we have no need of identifying the labels in the data. Also, the test set that we will be providing does not have the *FTR* column. So, delete the **Edit Metadata** responsible for setting *FTR* as a feature. 

Next, in the following **Edit Metadata** module that decides the features, launch the column selector and remove *FTR* from the selected columns. Finally, in the **Select Columns in Dataset** below the **Edit Metadata** module, launch the column selector and remove *FTR* from the selected columns as well. 

Now it should look like this:

<img src="Images/23.png" style="height: 300px">

Now for the output. Currently, the **Web Service Output** of the experiment looks like this:

<img src="Images/21.png" style="height: 300px">

Now, we do not want the users using the predictive model to be overwhelmed by all the available data. Therefore, we will only be showing them the 'Date', 'HomeTeam', 'AwayTeam' and the predicted results. So, drag in a **Select Columns in Dataset** and connect the output of **Score Model** to it. Then, in the **Select Columns in Dataset**, launch the column selector and select the following options:

-  With Rules
-  Begin with No Columns
-  Include column names ( Date, HomeTeam, AwayTeam, Scored Labels )

Scored Labels refers to the predicted results given by the model. However, it would be better to present the *Scored Labels* as *FTR* instead. So, drag in a **Edit Metadata** module and connect the output of the **Select Columns in Dataset** to the input of **Edit Metadata**. In the module, select the following options:

-  Selected Columns (With Rules -> Begin with No Columns -> Include Column Name -> Scored Labels)
-  Leave everything unchanged except New Column Names
-  New Column Names: FTR


Finally, connect the output of the **Edit Metadata** module to the **Web Service Output** module. The output end should look like this now:

<img src="Images/22.png" style="height: 400px">

Save and run the experiment. Now your experiment is ready to be deployed. Click the *DEPLOY WEB SERVICE* at the bottom panel to deploy it. Once deployed, we can use the Excel option to provide our epl-test.csv and obtain the predictions.

In [30]:
import pandas as pd
df1=pd.read_csv("Datasets/epl-predictions.csv")
df1

                    Date     HomeTeam        AwayTeam FTR
0  1/20/2018 12:00:00 AM      Arsenal  Crystal Palace   H
1  1/20/2018 12:00:00 AM      Burnley      Man United   A
2  1/20/2018 12:00:00 AM      Everton       West Brom   H
3  1/20/2018 12:00:00 AM    Leicester         Watford   A
4  1/20/2018 12:00:00 AM     Man City       Newcastle   H
5  1/20/2018 12:00:00 AM  Southampton       Tottenham   A
6  1/20/2018 12:00:00 AM      Swansea       Liverpool   A
7  1/20/2018 12:00:00 AM     West Ham     Bournemouth   H

This dataset is saved as 'epl-predictions.csv' in the Datasets folder. 

And there you go! A predictive model for EPL matches!

# References

1. Football-data. 2018. [online] Available on: http://football-data.co.uk/
1. FIFA Index. 2018. [online] Available on: https://www.fifaindex.com/
1. Sport Map World. 2018. [online] Available on: http://www.sportmapworld.com/
1. transfer markt. 2018. [online] Available on: https://www.transfermarkt.co.uk/
1. Sports Betting. Football Prediction Model: Poisson Distribution. [online] Available on: https://www.sbo.net/strategy/football-prediction-model-poisson-distribution/
1. Sports Illustrated. 2012. [online] Available on: https://www.si.com/longform/manchester-city-2012-epl-title-final-day-oral-history/index.html
1. David Sheehan. 2017. Predicting Football Results With Statistical Modelling. [online] Available on: https://dashee87.github.io/football/python/predicting-football-results-with-statistical-modelling/